examples/calibre-mcp.json
[
  {
    "id": "tab-calibre-mcp",
    "type": "tab",
    "label": "Calibre-Web MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "cw-in-search",
    "type": "hal2MCPIn",
    "z": "tab-calibre-mcp",
    "name": "Search books",
    "mcpServer": "",
    "toolName": "calibre_search",
    "description": "Search the Calibre-Web library by title, author or keyword. Returns book ID, title, author, summary and available formats. Use the book ID with calibre_toggle_read or calibre_get_cover.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"query\"],\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Search term — title, author or keyword\"},\"limit\":{\"type\":\"number\",\"description\":\"Max results (default 10)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 80,
    "wires": [["cw-fn-search-req"]]
  },
  {
    "id": "cw-fn-search-req",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Build request",
    "func": "const base = env.get('CALIBRE_URL');\nconst user = env.get('CALIBRE_USER');\nconst pass = env.get('CALIBRE_PASSWORD');\nif (!user || !pass) { node.error('CALIBRE_USER or CALIBRE_PASSWORD not set'); return null; }\nconst { query, limit } = msg.payload;\nmsg._limit = limit || 10;\nmsg.url = `${base}/opds/search/${encodeURIComponent(query)}`;\nmsg.headers = { 'Authorization': 'Basic ' + Buffer.from(`${user}:${pass}`).toString('base64') };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["cw-http-search"]]
  },
  {
    "id": "cw-http-search",
    "type": "http request",
    "z": "tab-calibre-mcp",
    "name": "GET /opds/search",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 80,
    "wires": [["cw-fn-search-resp"]]
  },
  {
    "id": "cw-fn-search-resp",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst xml = msg.payload;\nconst lim = msg._limit || 10;\nconst entries = [...xml.matchAll(/<entry>([\\s\\S]*?)<\\/entry>/g)];\nconst books = entries\n  .filter(([, e]) => /\\/download\\//.test(e))\n  .slice(0, lim)\n  .map(([, e]) => {\n    const txt = tag => {\n      const m = e.match(new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`));\n      return m ? m[1].replace(/<[^>]+>/g, '').trim() : null;\n    };\n    const rawId = txt('id') || '';\n    const bookId = rawId.match(/\\/(\\d+)(?:\\/|$)/)?.[1];\n    const formats = [...e.matchAll(/\\/download\\/\\d+\\/([a-z0-9]+)/gi)].map(m => m[1].toUpperCase());\n    return {\n      id: bookId ? parseInt(bookId) : null,\n      title: txt('title'),\n      author: txt('name'),\n      added: txt('updated') || null,\n      summary: (txt('content') || txt('summary') || '').slice(0, 200) || null,\n      formats: [...new Set(formats)]\n    };\n  });\nmsg.payload = JSON.stringify(books);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 80,
    "wires": [["cw-out-search"]]
  },
  {
    "id": "cw-out-search",
    "type": "hal2MCPOut",
    "z": "tab-calibre-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 80,
    "wires": []
  },

  {
    "id": "cw-in-stats",
    "type": "hal2MCPIn",
    "z": "tab-calibre-mcp",
    "name": "Stats",
    "mcpServer": "",
    "toolName": "calibre_stats",
    "description": "Get Calibre-Web library statistics: total books, authors, categories, series and file formats.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 200,
    "wires": [["cw-fn-stats-req"]]
  },
  {
    "id": "cw-fn-stats-req",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Build request",
    "func": "const base = env.get('CALIBRE_URL');\nconst user = env.get('CALIBRE_USER');\nconst pass = env.get('CALIBRE_PASSWORD');\nif (!user || !pass) { node.error('CALIBRE_USER or CALIBRE_PASSWORD not set'); return null; }\nmsg.url = `${base}/opds/stats`;\nmsg.headers = { 'Authorization': 'Basic ' + Buffer.from(`${user}:${pass}`).toString('base64') };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["cw-http-stats"]]
  },
  {
    "id": "cw-http-stats",
    "type": "http request",
    "z": "tab-calibre-mcp",
    "name": "GET /opds/stats",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 200,
    "wires": [["cw-fn-stats-resp"]]
  },
  {
    "id": "cw-fn-stats-resp",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst s = msg.payload;\nmsg.payload = JSON.stringify({ books: s.books, authors: s.authors, categories: s.categories, series: s.series, formats: s.formats });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 200,
    "wires": [["cw-out-stats"]]
  },
  {
    "id": "cw-out-stats",
    "type": "hal2MCPOut",
    "z": "tab-calibre-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 200,
    "wires": []
  },

  {
    "id": "cw-in-toggle",
    "type": "hal2MCPIn",
    "z": "tab-calibre-mcp",
    "name": "Toggle read",
    "mcpServer": "",
    "toolName": "calibre_toggle_read",
    "description": "Toggle the read/unread status of a book in Calibre-Web. Use the book ID from calibre_search.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"book_id\"],\"properties\":{\"book_id\":{\"type\":\"number\",\"description\":\"Book ID from calibre_search\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 320,
    "wires": [["cw-fn-toggle-req"]]
  },
  {
    "id": "cw-fn-toggle-req",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Build request",
    "func": "const base = env.get('CALIBRE_URL');\nconst user = env.get('CALIBRE_USER');\nconst pass = env.get('CALIBRE_PASSWORD');\nif (!user || !pass) { node.error('CALIBRE_USER or CALIBRE_PASSWORD not set'); return null; }\nconst { book_id } = msg.payload;\n\nlet session = flow.get('calibre_session');\nconst expires = flow.get('calibre_session_expires') || 0;\n\nif (!session || Date.now() > expires) {\n  const formBody = new URLSearchParams({ username: user, password: pass, next: '/', remember_me: 'on' }).toString();\n  const u = new URL(`${base}/login`);\n  session = await new Promise((resolve, reject) => {\n    const req = http.request({\n      hostname: u.hostname,\n      port: parseInt(u.port) || 80,\n      path: '/login',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/x-www-form-urlencoded',\n        'Content-Length': Buffer.byteLength(formBody)\n      }\n    }, res => {\n      res.resume();\n      const cookie = (res.headers['set-cookie'] || []).find(c => c.startsWith('session='));\n      resolve(cookie ? cookie.split(';')[0] : null);\n    });\n    req.on('error', reject);\n    req.setTimeout(5000, () => { req.destroy(); reject(new Error('login timeout')); });\n    req.write(formBody);\n    req.end();\n  });\n  if (!session) { node.error('Calibre-Web login failed — check CALIBRE_USER and CALIBRE_PASSWORD'); return null; }\n  flow.set('calibre_session', session);\n  flow.set('calibre_session_expires', Date.now() + 3600000);\n}\n\nmsg.url = `${base}/ajax/toggleread/${book_id}`;\nmsg.headers = { 'Cookie': session, 'X-Requested-With': 'XMLHttpRequest' };\nmsg.payload = {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 320,
    "y": 320,
    "wires": [["cw-http-toggle"]]
  },
  {
    "id": "cw-http-toggle",
    "type": "http request",
    "z": "tab-calibre-mcp",
    "name": "POST /ajax/toggleread",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 320,
    "wires": [["cw-fn-toggle-resp"]]
  },
  {
    "id": "cw-fn-toggle-resp",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode === 401 || msg.statusCode === 403) {\n  flow.set('calibre_session', null);\n  msg.payload = JSON.stringify({ error: 'Auth failed — session cleared, retry' });\n  return msg;\n}\nif (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst r = typeof msg.payload === 'object' ? msg.payload : {};\nmsg.payload = JSON.stringify({ success: true, read: r.read ?? null });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 320,
    "wires": [["cw-out-toggle"]]
  },
  {
    "id": "cw-out-toggle",
    "type": "hal2MCPOut",
    "z": "tab-calibre-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 320,
    "wires": []
  },

  {
    "id": "cw-in-cover",
    "type": "hal2MCPIn",
    "z": "tab-calibre-mcp",
    "name": "Get cover",
    "mcpServer": "",
    "toolName": "calibre_get_cover",
    "description": "Fetch the cover image for a book and display it. Use the book ID from calibre_search.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"book_id\"],\"properties\":{\"book_id\":{\"type\":\"number\",\"description\":\"Book ID from calibre_search\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 440,
    "wires": [["cw-fn-cover-req"]]
  },
  {
    "id": "cw-fn-cover-req",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Build request",
    "func": "const base = env.get('CALIBRE_URL');\nconst user = env.get('CALIBRE_USER');\nconst pass = env.get('CALIBRE_PASSWORD');\nif (!user || !pass) { node.error('CALIBRE_USER or CALIBRE_PASSWORD not set'); return null; }\nconst { book_id } = msg.payload;\nmsg.url = `${base}/opds/cover/${book_id}`;\nmsg.headers = { 'Authorization': 'Basic ' + Buffer.from(`${user}:${pass}`).toString('base64') };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 440,
    "wires": [["cw-http-cover"]]
  },
  {
    "id": "cw-http-cover",
    "type": "http request",
    "z": "tab-calibre-mcp",
    "name": "GET /opds/cover",
    "method": "GET",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 440,
    "wires": [["cw-fn-cover-resp"]]
  },
  {
    "id": "cw-fn-cover-resp",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst b64 = Buffer.isBuffer(msg.payload) ? msg.payload.toString('base64') : Buffer.from(msg.payload).toString('base64');\nmsg.payload = `![cover](data:image/jpeg;base64,${b64})`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 440,
    "wires": [["cw-out-cover"]]
  },
  {
    "id": "cw-out-cover",
    "type": "hal2MCPOut",
    "z": "tab-calibre-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 440,
    "wires": []
  },

  {
    "id": "cw-in-recent",
    "type": "hal2MCPIn",
    "z": "tab-calibre-mcp",
    "name": "Recent books",
    "mcpServer": "",
    "toolName": "calibre_recent",
    "description": "Get the most recently added books in the Calibre library, sorted newest first. Returns the same fields as calibre_search. Use the book ID with calibre_toggle_read or calibre_get_cover.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"limit\":{\"type\":\"number\",\"description\":\"Number of books to return (default 10)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 560,
    "wires": [["cw-fn-recent-req"]]
  },
  {
    "id": "cw-fn-recent-req",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Build request",
    "func": "const base = env.get('CALIBRE_URL');\nconst user = env.get('CALIBRE_USER');\nconst pass = env.get('CALIBRE_PASSWORD');\nif (!user || !pass) { node.error('CALIBRE_USER or CALIBRE_PASSWORD not set'); return null; }\nconst { limit } = msg.payload || {};\nmsg._limit = limit || 10;\nmsg.url = `${base}/opds/new`;\nmsg.headers = { 'Authorization': 'Basic ' + Buffer.from(`${user}:${pass}`).toString('base64') };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 560,
    "wires": [["cw-http-recent"]]
  },
  {
    "id": "cw-http-recent",
    "type": "http request",
    "z": "tab-calibre-mcp",
    "name": "GET /opds/new",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 560,
    "wires": [["cw-fn-recent-resp"]]
  },
  {
    "id": "cw-fn-recent-resp",
    "type": "function",
    "z": "tab-calibre-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst xml = msg.payload;\nconst lim = msg._limit || 10;\nconst entries = [...xml.matchAll(/<entry>([\\s\\S]*?)<\\/entry>/g)];\nconst books = entries\n  .filter(([, e]) => /\\/download\\//.test(e))\n  .slice(0, lim)\n  .map(([, e]) => {\n    const txt = tag => {\n      const m = e.match(new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`));\n      return m ? m[1].replace(/<[^>]+>/g, '').trim() : null;\n    };\n    const rawId = txt('id') || '';\n    const bookId = rawId.match(/\\/(\\d+)(?:\\/|$)/)?.[1];\n    const formats = [...e.matchAll(/\\/download\\/\\d+\\/([a-z0-9]+)/gi)].map(m => m[1].toUpperCase());\n    return {\n      id: bookId ? parseInt(bookId) : null,\n      title: txt('title'),\n      author: txt('name'),\n      added: txt('updated') || null,\n      summary: (txt('content') || txt('summary') || '').slice(0, 200) || null,\n      formats: [...new Set(formats)]\n    };\n  });\nmsg.payload = JSON.stringify(books);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 560,
    "wires": [["cw-out-recent"]]
  },
  {
    "id": "cw-out-recent",
    "type": "hal2MCPOut",
    "z": "tab-calibre-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 560,
    "wires": []
  }
]
