examples/docker-mcp.json
[
  {
    "id": "tab-docker-mcp",
    "type": "tab",
    "label": "Docker MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "dk-in-list",
    "type": "hal2MCPIn",
    "z": "tab-docker-mcp",
    "name": "List containers",
    "mcpServer": "",
    "toolName": "docker_list",
    "description": "List Docker containers on the server. By default only running containers are returned. Set all=true to include stopped containers. Returns container name, image, state and exposed ports.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"all\":{\"type\":\"boolean\",\"description\":\"Include stopped containers (default false)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 140,
    "y": 80,
    "wires": [["dk-fn-list"]]
  },
  {
    "id": "dk-fn-list",
    "type": "function",
    "z": "tab-docker-mcp",
    "name": "Docker API",
    "func": "const { all } = msg.payload || {};\nconst path = `/containers/json${all ? '?all=true' : ''}`;\n\nlet data;\ntry {\n  data = await new Promise((resolve, reject) => {\n    const req = http.request({ socketPath: '/var/run/docker.sock', path, method: 'GET' }, res => {\n      let d = ''; res.on('data', c => d += c);\n      res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { reject(e); } });\n    });\n    req.on('error', reject);\n    req.setTimeout(10000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n} catch(e) {\n  msg.payload = JSON.stringify({ error: e.message });\n  return msg;\n}\n\nmsg.payload = JSON.stringify(data.map(c => ({\n  id: c.Id.slice(0, 12),\n  name: (c.Names[0] || '').replace(/^\\//, ''),\n  image: c.Image,\n  state: c.State,\n  status: c.Status,\n  ports: (c.Ports || []).filter(p => p.PublicPort).map(p => `${p.PublicPort}:${p.PrivatePort}`)\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 80,
    "wires": [["dk-out-list"]]
  },
  {
    "id": "dk-out-list",
    "type": "hal2MCPOut",
    "z": "tab-docker-mcp",
    "name": "",
    "mcpServer": "",
    "x": 700,
    "y": 80,
    "wires": []
  },

  {
    "id": "dk-in-start",
    "type": "hal2MCPIn",
    "z": "tab-docker-mcp",
    "name": "Start container",
    "mcpServer": "",
    "toolName": "docker_start",
    "description": "Start a stopped Docker container by name or ID.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"name\"],\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"Container name or ID\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 140,
    "y": 200,
    "wires": [["dk-fn-start"]]
  },
  {
    "id": "dk-fn-start",
    "type": "function",
    "z": "tab-docker-mcp",
    "name": "Docker API",
    "func": "const { name } = msg.payload;\n\nlet statusCode;\ntry {\n  statusCode = await new Promise((resolve, reject) => {\n    const req = http.request({\n      socketPath: '/var/run/docker.sock',\n      path: `/containers/${encodeURIComponent(name)}/start`,\n      method: 'POST'\n    }, res => { res.resume(); resolve(res.statusCode); });\n    req.on('error', reject);\n    req.setTimeout(30000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n} catch(e) {\n  msg.payload = JSON.stringify({ error: e.message }); return msg;\n}\n\nmsg.payload = JSON.stringify(\n  statusCode === 204 ? { success: true, name } :\n  statusCode === 304 ? { success: true, name, note: 'already running' } :\n  statusCode === 404 ? { error: `Container not found: ${name}` } :\n  { error: `Docker API returned HTTP ${statusCode}` }\n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 200,
    "wires": [["dk-out-start"]]
  },
  {
    "id": "dk-out-start",
    "type": "hal2MCPOut",
    "z": "tab-docker-mcp",
    "name": "",
    "mcpServer": "",
    "x": 700,
    "y": 200,
    "wires": []
  },

  {
    "id": "dk-in-stop",
    "type": "hal2MCPIn",
    "z": "tab-docker-mcp",
    "name": "Stop container",
    "mcpServer": "",
    "toolName": "docker_stop",
    "description": "Stop a running Docker container by name or ID. The container gets a grace period to shut down cleanly before being killed.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"name\"],\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"Container name or ID\"},\"timeout\":{\"type\":\"number\",\"description\":\"Seconds to wait before killing (default 10)\"}}}",
    "topic": "",
    "timeout": 60,
    "x": 140,
    "y": 320,
    "wires": [["dk-fn-stop"]]
  },
  {
    "id": "dk-fn-stop",
    "type": "function",
    "z": "tab-docker-mcp",
    "name": "Docker API",
    "func": "const { name, timeout } = msg.payload;\nconst qs = timeout != null ? `?t=${timeout}` : '';\n\nlet statusCode;\ntry {\n  statusCode = await new Promise((resolve, reject) => {\n    const req = http.request({\n      socketPath: '/var/run/docker.sock',\n      path: `/containers/${encodeURIComponent(name)}/stop${qs}`,\n      method: 'POST'\n    }, res => { res.resume(); resolve(res.statusCode); });\n    req.on('error', reject);\n    req.setTimeout(60000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n} catch(e) {\n  msg.payload = JSON.stringify({ error: e.message }); return msg;\n}\n\nmsg.payload = JSON.stringify(\n  statusCode === 204 ? { success: true, name } :\n  statusCode === 304 ? { success: true, name, note: 'already stopped' } :\n  statusCode === 404 ? { error: `Container not found: ${name}` } :\n  { error: `Docker API returned HTTP ${statusCode}` }\n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 320,
    "wires": [["dk-out-stop"]]
  },
  {
    "id": "dk-out-stop",
    "type": "hal2MCPOut",
    "z": "tab-docker-mcp",
    "name": "",
    "mcpServer": "",
    "x": 700,
    "y": 320,
    "wires": []
  },

  {
    "id": "dk-in-restart",
    "type": "hal2MCPIn",
    "z": "tab-docker-mcp",
    "name": "Restart container",
    "mcpServer": "",
    "toolName": "docker_restart",
    "description": "Restart a Docker container by name or ID.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"name\"],\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"Container name or ID\"},\"timeout\":{\"type\":\"number\",\"description\":\"Seconds to wait before killing during stop phase (default 10)\"}}}",
    "topic": "",
    "timeout": 60,
    "x": 140,
    "y": 440,
    "wires": [["dk-fn-restart"]]
  },
  {
    "id": "dk-fn-restart",
    "type": "function",
    "z": "tab-docker-mcp",
    "name": "Docker API",
    "func": "const { name, timeout } = msg.payload;\nconst qs = timeout != null ? `?t=${timeout}` : '';\n\nlet statusCode;\ntry {\n  statusCode = await new Promise((resolve, reject) => {\n    const req = http.request({\n      socketPath: '/var/run/docker.sock',\n      path: `/containers/${encodeURIComponent(name)}/restart${qs}`,\n      method: 'POST'\n    }, res => { res.resume(); resolve(res.statusCode); });\n    req.on('error', reject);\n    req.setTimeout(60000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n} catch(e) {\n  msg.payload = JSON.stringify({ error: e.message }); return msg;\n}\n\nmsg.payload = JSON.stringify(\n  statusCode === 204 ? { success: true, name } :\n  statusCode === 404 ? { error: `Container not found: ${name}` } :\n  { error: `Docker API returned HTTP ${statusCode}` }\n);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 440,
    "wires": [["dk-out-restart"]]
  },
  {
    "id": "dk-out-restart",
    "type": "hal2MCPOut",
    "z": "tab-docker-mcp",
    "name": "",
    "mcpServer": "",
    "x": 700,
    "y": 440,
    "wires": []
  },

  {
    "id": "dk-in-logs",
    "type": "hal2MCPIn",
    "z": "tab-docker-mcp",
    "name": "Get logs",
    "mcpServer": "",
    "toolName": "docker_logs",
    "description": "Fetch recent log output from a Docker container. Returns stdout and stderr with timestamps.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"name\"],\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"Container name or ID\"},\"lines\":{\"type\":\"number\",\"description\":\"Number of log lines to return (default 50)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 140,
    "y": 560,
    "wires": [["dk-fn-logs"]]
  },
  {
    "id": "dk-fn-logs",
    "type": "function",
    "z": "tab-docker-mcp",
    "name": "Docker API",
    "func": "const { name, lines } = msg.payload;\nconst tail = lines || 50;\n\nlet raw;\ntry {\n  raw = await new Promise((resolve, reject) => {\n    const req = http.request({\n      socketPath: '/var/run/docker.sock',\n      path: `/containers/${encodeURIComponent(name)}/logs?stdout=true&stderr=true&tail=${tail}&timestamps=true`,\n      method: 'GET'\n    }, res => {\n      if (res.statusCode === 404) { resolve(null); return; }\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => resolve(Buffer.concat(chunks)));\n    });\n    req.on('error', reject);\n    req.setTimeout(10000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n} catch(e) {\n  msg.payload = JSON.stringify({ error: e.message }); return msg;\n}\n\nif (!raw) { msg.payload = JSON.stringify({ error: `Container not found: ${name}` }); return msg; }\n\nlet logs = '';\nif (raw.length > 8 && raw[0] <= 2 && raw[1] === 0 && raw[2] === 0 && raw[3] === 0) {\n  let offset = 0;\n  while (offset + 8 <= raw.length) {\n    const size = raw.readUInt32BE(offset + 4);\n    if (!size || offset + 8 + size > raw.length) break;\n    logs += raw.slice(offset + 8, offset + 8 + size).toString('utf8');\n    offset += 8 + size;\n  }\n} else {\n  logs = raw.toString('utf8');\n}\n\nmsg.payload = JSON.stringify({ name, logs: logs.trim() });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 560,
    "wires": [["dk-out-logs"]]
  },
  {
    "id": "dk-out-logs",
    "type": "hal2MCPOut",
    "z": "tab-docker-mcp",
    "name": "",
    "mcpServer": "",
    "x": 700,
    "y": 560,
    "wires": []
  }
]
