examples/jellyfin-mcp.json
[
  {
    "id": "tab-jellyfin-mcp",
    "type": "tab",
    "label": "Jellyfin MCP",
    "disabled": false,
    "info": ""
  },
  {
    "id": "jf-in-sessions",
    "type": "hal2MCPIn",
    "z": "tab-jellyfin-mcp",
    "name": "Get sessions",
    "eventHandler": "",
    "toolName": "jellyfin_get_sessions",
    "description": "Get all active Jellyfin playback sessions. Returns session ID, user, device and what is currently playing.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 80,
    "wires": [["jf-fn-sessions-req"]]
  },
  {
    "id": "jf-fn-sessions-req",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Build request",
    "func": "const base = env.get('JELLYFIN_URL');\nconst key = env.get('JELLYFIN_API_KEY');\nif (!base || !key) { node.error('JELLYFIN_URL or JELLYFIN_API_KEY not set'); return null; }\nmsg.url = `${base}/Sessions`;\nmsg.headers = { 'X-Emby-Token': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["jf-http-sessions"]]
  },
  {
    "id": "jf-http-sessions",
    "type": "http request",
    "z": "tab-jellyfin-mcp",
    "name": "GET /Sessions",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 80,
    "wires": [["jf-fn-sessions-resp"]]
  },
  {
    "id": "jf-fn-sessions-resp",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nconst sessions = (Array.isArray(msg.payload) ? msg.payload : []).map(s => ({\n  id: s.Id,\n  user: s.UserName,\n  device: s.DeviceName,\n  client: s.Client,\n  nowPlaying: s.NowPlayingItem ? { title: s.NowPlayingItem.Name, type: s.NowPlayingItem.Type, id: s.NowPlayingItem.Id } : null,\n  isPaused: s.PlayState ? s.PlayState.IsPaused : null,\n  positionTicks: s.PlayState ? s.PlayState.PositionTicks : null\n}));\nmsg.payload = JSON.stringify(sessions);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 80,
    "wires": [["jf-out-sessions"]]
  },
  {
    "id": "jf-out-sessions",
    "type": "hal2MCPOut",
    "z": "tab-jellyfin-mcp",
    "name": "",
    "eventHandler": "",
    "x": 920,
    "y": 80,
    "wires": []
  },
  {
    "id": "jf-in-control",
    "type": "hal2MCPIn",
    "z": "tab-jellyfin-mcp",
    "name": "Control playback",
    "eventHandler": "",
    "toolName": "jellyfin_control_playback",
    "description": "Control playback on a Jellyfin session. Commands: Pause, Unpause, Stop, NextTrack, PreviousTrack, Seek. For Seek, provide seek_ticks (1 second = 10000000 ticks).",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"session_id\",\"command\"],\"properties\":{\"session_id\":{\"type\":\"string\",\"description\":\"Session ID from jellyfin_get_sessions\"},\"command\":{\"type\":\"string\",\"enum\":[\"Pause\",\"Unpause\",\"Stop\",\"NextTrack\",\"PreviousTrack\",\"Seek\"],\"description\":\"Playback command\"},\"seek_ticks\":{\"type\":\"number\",\"description\":\"Position in ticks for Seek (1s = 10000000 ticks)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 200,
    "wires": [["jf-fn-control-req"]]
  },
  {
    "id": "jf-fn-control-req",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Build request",
    "func": "const base = env.get('JELLYFIN_URL');\nconst key = env.get('JELLYFIN_API_KEY');\nconst { session_id, command, seek_ticks } = msg.payload;\nif (command === 'Seek' && seek_ticks != null) {\n  msg.url = `${base}/Sessions/${session_id}/Playing/Seek?seekPositionTicks=${seek_ticks}`;\n} else {\n  msg.url = `${base}/Sessions/${session_id}/Playing/${command}`;\n}\nmsg.headers = { 'X-Emby-Token': key };\nmsg.payload = {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["jf-http-control"]]
  },
  {
    "id": "jf-http-control",
    "type": "http request",
    "z": "tab-jellyfin-mcp",
    "name": "POST /Playing/cmd",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 200,
    "wires": [["jf-fn-control-resp"]]
  },
  {
    "id": "jf-fn-control-resp",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Format response",
    "func": "msg.payload = JSON.stringify(msg.statusCode < 400 ? { success: true } : { success: false, error: `HTTP ${msg.statusCode}` });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [["jf-out-control"]]
  },
  {
    "id": "jf-out-control",
    "type": "hal2MCPOut",
    "z": "tab-jellyfin-mcp",
    "name": "",
    "eventHandler": "",
    "x": 920,
    "y": 200,
    "wires": []
  },
  {
    "id": "jf-in-search",
    "type": "hal2MCPIn",
    "z": "tab-jellyfin-mcp",
    "name": "Search media",
    "eventHandler": "",
    "toolName": "jellyfin_search",
    "description": "Search the Jellyfin media library. Returns item IDs, names and types. Item IDs can be used with jellyfin_play or jellyfin_get_poster. Get the poster and display it in the response if not explicitly asked not to. Results are limited by the limit parameter (default 10) — the total field shows how many items exist on the server. Use a higher limit to fetch more.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"query\"],\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Search term\"},\"media_type\":{\"type\":\"string\",\"enum\":[\"Movie\",\"Series\",\"Season\",\"Episode\",\"Audio\",\"MusicAlbum\",\"MusicArtist\"],\"description\":\"Filter by media type (optional)\"},\"limit\":{\"type\":\"number\",\"description\":\"Max number of results, default 10\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 320,
    "wires": [["jf-fn-search-req"]]
  },
  {
    "id": "jf-fn-search-req",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Build request",
    "func": "const base = env.get('JELLYFIN_URL');\nconst key = env.get('JELLYFIN_API_KEY');\nconst userId = env.get('JELLYFIN_USER_ID');\nif (!base || !key) { node.error('JELLYFIN_URL or JELLYFIN_API_KEY not set'); return null; }\nconst { query, media_type, limit } = msg.payload;\nif (media_type === 'Episode') {\n  let series = null;\n  try {\n    const sp = new URLSearchParams({ searchTerm: query, Recursive: 'true', Limit: '1', IncludeItemTypes: 'Series' });\n    if (userId) sp.set('UserId', userId);\n    const u = new URL(`${base}/Items?${sp}`);\n    const port = u.port ? parseInt(u.port) : (u.protocol === 'https:' ? 443 : 80);\n    const mod = u.protocol === 'https:' ? https : http;\n    const sd = await Promise.race([\n      new Promise((resolve, reject) => {\n        const req = mod.request({ hostname: u.hostname, port, path: u.pathname + u.search, method: 'GET', headers: { 'X-Emby-Token': key } }, res => {\n          let d = ''; res.on('data', c => d += c); res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { reject(e); } });\n        });\n        req.on('error', reject); req.end();\n      }),\n      new Promise((_, reject) => setTimeout(() => reject(new Error('lookup timeout')), 4000))\n    ]);\n    series = sd.Items?.[0] || null;\n  } catch(e) { node.warn('Series lookup: ' + e.message); }\n  if (series) {\n    const ep = new URLSearchParams({ Recursive: 'true', Limit: String(limit || 10), Fields: 'Overview,SeriesName,SeasonName,IndexNumber,ParentIndexNumber' });\n    if (userId) ep.set('UserId', userId);\n    msg.url = `${base}/Shows/${series.Id}/Episodes?${ep}`;\n  } else {\n    const params = new URLSearchParams({ searchTerm: query, Recursive: 'true', Limit: String(limit || 10), IncludeItemTypes: 'Episode', Fields: 'Overview,SeriesName,SeasonName,IndexNumber,ParentIndexNumber' });\n    if (userId) params.set('UserId', userId);\n    msg.url = `${base}/Items?${params}`;\n  }\n} else {\n  const params = new URLSearchParams({ searchTerm: query, Recursive: 'true', Limit: String(limit || 10), Fields: 'Overview,SeriesName,SeasonName,IndexNumber,ParentIndexNumber,ChildCount' });\n  if (media_type) params.set('IncludeItemTypes', media_type);\n  if (userId) params.set('UserId', userId);\n  msg.url = `${base}/Items?${params}`;\n}\nmsg.headers = { 'X-Emby-Token': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}, {"var": "https", "module": "https"}],
    "x": 320,
    "y": 320,
    "wires": [["jf-http-search"]]
  },
  {
    "id": "jf-http-search",
    "type": "http request",
    "z": "tab-jellyfin-mcp",
    "name": "GET /Items",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 320,
    "wires": [["jf-fn-search-resp"]]
  },
  {
    "id": "jf-fn-search-resp",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nconst base = env.get('JELLYFIN_URL');\nconst key = env.get('JELLYFIN_API_KEY');\nconst fetchSeasonCount = (id) => new Promise(resolve => {\n  try {\n    const u = new URL(`${base}/Shows/${id}/Seasons`);\n    const port = u.port ? parseInt(u.port) : (u.protocol === 'https:' ? 443 : 80);\n    const mod = u.protocol === 'https:' ? https : http;\n    const req = mod.request({ hostname: u.hostname, port, path: u.pathname + u.search, method: 'GET', headers: { 'X-Emby-Token': key } }, res => {\n      let d = ''; res.on('data', c => d += c); res.on('end', () => { try { resolve(JSON.parse(d).TotalRecordCount || 0); } catch(e) { resolve(0); } });\n    });\n    req.on('error', () => resolve(0)); req.setTimeout(3000, () => { req.destroy(); resolve(0); }); req.end();\n  } catch(e) { resolve(0); }\n});\nconst items = await Promise.all((msg.payload.Items || []).map(async i => {\n  const item = { id: i.Id, name: i.Name, type: i.Type, year: i.ProductionYear || null, overview: i.Overview ? i.Overview.slice(0, 200) : null };\n  if (i.SeriesName) item.seriesName = i.SeriesName;\n  if (i.SeasonName) item.seasonName = i.SeasonName;\n  if (i.ParentIndexNumber != null) item.seasonNumber = i.ParentIndexNumber;\n  if (i.IndexNumber != null) item.episodeNumber = i.IndexNumber;\n  if (i.Type === 'Series') item.seasonCount = await fetchSeasonCount(i.Id);\n  return item;\n}));\nmsg.payload = JSON.stringify({ total: msg.payload.TotalRecordCount, items });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}, {"var": "https", "module": "https"}],
    "x": 720,
    "y": 320,
    "wires": [["jf-out-search"]]
  },
  {
    "id": "jf-out-search",
    "type": "hal2MCPOut",
    "z": "tab-jellyfin-mcp",
    "name": "",
    "eventHandler": "",
    "x": 920,
    "y": 320,
    "wires": []
  },
  {
    "id": "jf-in-play",
    "type": "hal2MCPIn",
    "z": "tab-jellyfin-mcp",
    "name": "Play media",
    "eventHandler": "",
    "toolName": "jellyfin_play",
    "description": "Start playing a specific media item on a Jellyfin session. Use jellyfin_search to find item IDs and jellyfin_get_sessions to find session IDs.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"session_id\",\"item_id\"],\"properties\":{\"session_id\":{\"type\":\"string\",\"description\":\"Session ID from jellyfin_get_sessions\"},\"item_id\":{\"type\":\"string\",\"description\":\"Item ID from jellyfin_search\"},\"start_ticks\":{\"type\":\"number\",\"description\":\"Start position in ticks (optional, 1s = 10000000 ticks)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 440,
    "wires": [["jf-fn-play-req"]]
  },
  {
    "id": "jf-fn-play-req",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Build request",
    "func": "const base = env.get('JELLYFIN_URL');\nconst key = env.get('JELLYFIN_API_KEY');\nconst { session_id, item_id, start_ticks } = msg.payload;\nmsg.url = `${base}/Sessions/${session_id}/Playing`;\nmsg.headers = { 'X-Emby-Token': key, 'Content-Type': 'application/json' };\nconst body = { ItemIds: [item_id], PlayCommand: 'PlayNow' };\nif (start_ticks != null) body.StartPositionTicks = start_ticks;\nmsg.payload = JSON.stringify(body);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 440,
    "wires": [["jf-http-play"]]
  },
  {
    "id": "jf-http-play",
    "type": "http request",
    "z": "tab-jellyfin-mcp",
    "name": "POST /Playing",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 440,
    "wires": [["jf-fn-play-resp"]]
  },
  {
    "id": "jf-fn-play-resp",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Format response",
    "func": "msg.payload = JSON.stringify(msg.statusCode < 400 ? { success: true } : { success: false, error: `HTTP ${msg.statusCode}` });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 440,
    "wires": [["jf-out-play"]]
  },
  {
    "id": "jf-out-play",
    "type": "hal2MCPOut",
    "z": "tab-jellyfin-mcp",
    "name": "",
    "eventHandler": "",
    "x": 920,
    "y": 440,
    "wires": []
  },
  {
    "id": "jf-in-poster",
    "type": "hal2MCPIn",
    "z": "tab-jellyfin-mcp",
    "name": "Get poster",
    "eventHandler": "",
    "toolName": "jellyfin_get_poster",
    "description": "Fetch the poster image for a Jellyfin media item. Returns the image so it can be displayed. Use item IDs from jellyfin_search.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"item_id\"],\"properties\":{\"item_id\":{\"type\":\"string\",\"description\":\"Item ID from jellyfin_search\"},\"width\":{\"type\":\"number\",\"description\":\"Max width in pixels (default 400)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 560,
    "wires": [["jf-fn-poster-req"]]
  },
  {
    "id": "jf-fn-poster-req",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Build request",
    "func": "const base = env.get('JELLYFIN_URL');\nconst externalBase = env.get('JELLYFIN_EXTERNAL_URL') || base;\nconst key = env.get('JELLYFIN_API_KEY');\nconst { item_id, width } = msg.payload;\nmsg.url = `${base}/Items/${item_id}/Images/Primary?maxWidth=${width || 400}&quality=80`;\nmsg.imageUrl = `${externalBase}/Items/${item_id}/Images/Primary?maxWidth=${width || 400}&quality=80&api_key=${key}`;\nmsg.headers = { 'X-Emby-Token': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 560,
    "wires": [["jf-http-poster"]]
  },
  {
    "id": "jf-http-poster",
    "type": "http request",
    "z": "tab-jellyfin-mcp",
    "name": "GET /Images/Primary",
    "method": "GET",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 560,
    "wires": [["jf-fn-poster-resp"]]
  },
  {
    "id": "jf-fn-poster-resp",
    "type": "function",
    "z": "tab-jellyfin-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nmsg.payload = `![poster](${msg.imageUrl})`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 560,
    "wires": [["jf-out-poster"]]
  },
  {
    "id": "jf-out-poster",
    "type": "hal2MCPOut",
    "z": "tab-jellyfin-mcp",
    "name": "",
    "eventHandler": "",
    "x": 920,
    "y": 560,
    "wires": []
  }
]
