examples/matter_controller_hemma.json
{
  "id": "07570f8982707c58",
  "label": "Matter (Controller)",
  "nodes": [
    {
      "id": "matter_ctrl_comment_1",
      "type": "comment",
      "z": "07570f8982707c58",
      "name": "matterjs-server WS-controller (Hemma)",
      "info": "Konsumerar attribute updates och events fran matterjs-server (docker01 @ 192.168.240.40).\n\nbuild matter command stödjer:\n  { kind: 'device_command' (default), nodeId, endpoint, cluster, command, args? }\n  { kind: 'write_attribute', nodeId, endpoint, cluster, attribute, value }\n\nVid write_attribute emitteras *även* en optimistisk syntetisk state-msg till 'matter:state' (Things-noder reagerar omedelbart) eftersom vissa enheter (t.ex. Mill termostat) inte pushar attribute_updated på egna writes.",
      "x": 170,
      "y": 20,
      "wires": []
    },
    {
      "id": "matter_ws_status",
      "type": "status",
      "z": "07570f8982707c58",
      "name": "ws-out status",
      "scope": [
        "matter_ws_out"
      ],
      "x": 90,
      "y": 80,
      "wires": [
        [
          "matter_fn_start_listening",
          "matter_fn_get_nodes"
        ]
      ]
    },
    {
      "id": "matter_fn_start_listening",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "→ start_listening",
      "func": "const text = msg.status && msg.status.text;\nnode.warn('ws-out status: ' + JSON.stringify(msg.status));\nif (text === 'connected' || text === 'common.status.connected') {\n    return { payload: JSON.stringify({ message_id: 'init', command: 'start_listening' }) };\n}\nreturn null;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 390,
      "y": 60,
      "wires": [
        [
          "2ea0a470e7fc0e0b"
        ]
      ]
    },
    {
      "id": "matter_fn_get_nodes",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "→ get_nodes",
      "func": "const text = msg.status && msg.status.text;\nif (text === 'connected' || text === 'common.status.connected') {\n    return { payload: JSON.stringify({ message_id: 'discover', command: 'get_nodes' }) };\n}\nreturn null;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 380,
      "y": 100,
      "wires": [
        [
          "2ea0a470e7fc0e0b"
        ]
      ]
    },
    {
      "id": "matter_inject_manual",
      "type": "inject",
      "z": "07570f8982707c58",
      "name": "Manual start_listening",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": "",
      "topic": "",
      "payload": "{\"message_id\":\"init\",\"command\":\"start_listening\"}",
      "payloadType": "str",
      "x": 140,
      "y": 200,
      "wires": [
        [
          "3f09fbd353250083"
        ]
      ]
    },
    {
      "id": "matter_inject_discover",
      "type": "inject",
      "z": "07570f8982707c58",
      "name": "Discover nodes",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": "120",
      "topic": "",
      "payload": "{\"message_id\":\"discover\",\"command\":\"get_nodes\"}",
      "payloadType": "str",
      "x": 120,
      "y": 240,
      "wires": [
        [
          "3f09fbd353250083"
        ]
      ]
    },
    {
      "id": "matter_ws_out",
      "type": "websocket out",
      "z": "07570f8982707c58",
      "name": "matter ws",
      "client": "matter_ws_client",
      "x": 880,
      "y": 100,
      "wires": []
    },
    {
      "id": "matter_ws_in",
      "type": "websocket in",
      "z": "07570f8982707c58",
      "name": "matter ws",
      "client": "matter_ws_client",
      "x": 90,
      "y": 420,
      "wires": [
        [
          "matter_dbg_raw",
          "matter_fn_parse"
        ]
      ]
    },
    {
      "id": "matter_dbg_raw",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "RX raw",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 260,
      "y": 380,
      "wires": []
    },
    {
      "id": "matter_fn_parse",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "parse JSON",
      "func": "try {\n    msg.payload = JSON.parse(msg.payload);\n} catch (e) {\n    node.warn('matter: bad json: ' + e.message);\n    return null;\n}\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 260,
      "y": 420,
      "wires": [
        [
          "matter_fn_split_kind"
        ]
      ]
    },
    {
      "id": "matter_fn_split_kind",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "split: result vs event",
      "func": "if (msg.payload && msg.payload.message_id && !msg.payload.event) {\n    return [null, msg];\n}\nreturn [msg, null];",
      "outputs": 2,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 440,
      "y": 420,
      "wires": [
        [
          "matter_switch_event"
        ],
        [
          "matter_dbg_result",
          "matter_fn_cache_nodes"
        ]
      ]
    },
    {
      "id": "matter_dbg_result",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "result (cmd response)",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 880,
      "y": 580,
      "wires": []
    },
    {
      "id": "matter_fn_cache_nodes",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "cache get_nodes + emit alive",
      "func": "const p = msg.payload;\nif (!p || !Array.isArray(p.result)) return null;\nconst first = p.result[0];\nif (!first || typeof first.node_id !== 'number') return null;\nglobal.set('matter_nodes', p.result);\nglobal.set('matter_nodes_at', Date.now());\n\nconst aliveMsgs = [];\nfor (const n of p.result) {\n    const attrs = n.attributes || {};\n    const available = !!n.available;\n    const nodeId = n.node_id;\n    for (const key in attrs) {\n        const m = key.match(/^(\\d+)\\/29\\/0$/);\n        if (!m) continue;\n        const ep = Number(m[1]);\n        if (ep === 0) continue;\n        aliveMsgs.push({\n            topic: `matter/${nodeId}/${ep}/_alive/0`,\n            payload: available,\n            matter: { nodeId: nodeId, endpoint: ep, cluster: '_alive', attribute: 0 }\n        });\n    }\n}\n\nreturn [aliveMsgs, { payload: { count: p.result.length, message_id: p.message_id, alive_emitted: aliveMsgs.length } }];",
      "outputs": 2,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 900,
      "y": 540,
      "wires": [
        [
          "matter_link_state_out"
        ],
        [
          "sync_fn_gate"
        ]
      ]
    },
    {
      "id": "matter_switch_event",
      "type": "switch",
      "z": "07570f8982707c58",
      "name": "event",
      "property": "payload.event",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "attribute_updated",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "node_event",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "node_added",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "node_removed",
          "vt": "str"
        },
        {
          "t": "eq",
          "v": "node_updated",
          "vt": "str"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "false",
      "repair": false,
      "outputs": 6,
      "x": 650,
      "y": 420,
      "wires": [
        [
          "matter_fn_norm_attr"
        ],
        [
          "matter_fn_node_event_to_state",
          "matter_dbg_event"
        ],
        [
          "matter_dbg_added"
        ],
        [
          "matter_dbg_removed"
        ],
        [
          "matter_fn_node_updated",
          "matter_dbg_updated"
        ],
        [
          "matter_dbg_other"
        ]
      ]
    },
    {
      "id": "matter_fn_norm_attr",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "normalize attribute_updated",
      "func": "const data = msg.payload.data;\nif (!Array.isArray(data) || data.length < 3) {\n    node.warn('attribute_updated: oväntad data-form');\n    return null;\n}\nconst [nodeId, path, value] = data;\nconst [endpoint, cluster, attribute] = String(path).split('/');\nreturn {\n    topic: `matter/${nodeId}/${endpoint}/${cluster}/${attribute}`,\n    payload: value,\n    matter: { nodeId: nodeId, endpoint: Number(endpoint), cluster: Number(cluster), attribute: Number(attribute) }\n};",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 900,
      "y": 420,
      "wires": [
        [
          "matter_dbg_attr",
          "matter_link_state_out"
        ]
      ]
    },
    {
      "id": "matter_link_state_out",
      "type": "link out",
      "z": "07570f8982707c58",
      "name": "matter:state",
      "mode": "link",
      "links": [
        "matter_things_state_in"
      ],
      "x": 1095,
      "y": 460
    },
    {
      "id": "matter_dbg_attr",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "attr",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 1130,
      "y": 420,
      "wires": []
    },
    {
      "id": "matter_dbg_event",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "node_event",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 850,
      "y": 220,
      "wires": []
    },
    {
      "id": "matter_fn_node_event_to_state",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "node_event → switch state",
      "func": "const d = msg.payload && msg.payload.data;\nif (!d || typeof d !== 'object') return null;\n\nconst nodeId = Number(d.node_id);\nconst ep = Number(d.endpoint_id);\nconst cluster = Number(d.cluster_id);\nif (cluster !== 59) return null;\n\nreturn {\n    topic: `matter/${nodeId}/${ep}/59/_event/0`,\n    payload: { event_id: d.event_id, data: d.data || {} },\n    matter: { nodeId: nodeId, endpoint: ep, cluster: 59, attribute: '_event' }\n};",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 900,
      "y": 460,
      "wires": [
        [
          "matter_link_state_out"
        ]
      ]
    },
    {
      "id": "matter_dbg_added",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "node_added",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 850,
      "y": 260,
      "wires": []
    },
    {
      "id": "matter_dbg_removed",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "node_removed",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 860,
      "y": 300,
      "wires": []
    },
    {
      "id": "matter_dbg_updated",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "node_updated",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 860,
      "y": 340,
      "wires": []
    },
    {
      "id": "matter_fn_node_updated",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "node_updated → alive",
      "func": "const data = msg.payload && msg.payload.data;\nif (!data || typeof data.node_id !== 'number') return null;\n\nconst nodes = global.get('matter_nodes') || [];\nconst idx = nodes.findIndex(n => n.node_id === data.node_id);\nif (idx >= 0) nodes[idx] = data;\nelse nodes.push(data);\nglobal.set('matter_nodes', nodes);\nglobal.set('matter_nodes_at', Date.now());\n\nconst attrs = data.attributes || {};\nconst available = !!data.available;\nconst nodeId = data.node_id;\nconst aliveMsgs = [];\nfor (const key in attrs) {\n    const m = key.match(/^(\\d+)\\/29\\/0$/);\n    if (!m) continue;\n    const ep = Number(m[1]);\n    if (ep === 0) continue;\n    aliveMsgs.push({\n        topic: `matter/${nodeId}/${ep}/_alive/0`,\n        payload: available,\n        matter: { nodeId: nodeId, endpoint: ep, cluster: '_alive', attribute: 0 }\n    });\n}\nreturn [aliveMsgs];",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 880,
      "y": 500,
      "wires": [
        [
          "matter_link_state_out"
        ]
      ]
    },
    {
      "id": "matter_dbg_other",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "other",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 830,
      "y": 380,
      "wires": []
    },
    {
      "id": "matter_link_cmd_in",
      "type": "link in",
      "z": "07570f8982707c58",
      "name": "matter:cmd",
      "links": [
        "matter_things_cmd_out"
      ],
      "x": 265,
      "y": 140,
      "wires": [
        [
          "matter_fn_build_cmd"
        ]
      ]
    },
    {
      "id": "matter_fn_build_cmd",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "build matter command",
      "func": "// 2-output:\n//  - output 1: WS payload till ws-out\n//  - output 2: optimistisk syntetisk state-msg till matter:state (endast för write_attribute)\n//\n// Stodjer:\n//   { kind: 'device_command' (default), nodeId, endpoint, cluster, command, args? }\n//   { kind: 'write_attribute', nodeId, endpoint, cluster, attribute, value }\nconst p = msg.payload;\nif (!p) {\n    node.warn('build cmd: payload är tom');\n    return null;\n}\n\nfunction msgId() {\n    return `cmd-${Date.now()}-${Math.floor(Math.random() * 1000)}`;\n}\n\nfunction buildOne(cmd) {\n    if (!cmd || typeof cmd !== 'object') return [null, null];\n    if (cmd.nodeId == null) {\n        node.warn('build cmd: saknar nodeId i ' + JSON.stringify(cmd));\n        return [null, null];\n    }\n    const kind = cmd.kind || 'device_command';\n\n    if (kind === 'device_command') {\n        if (cmd.endpoint == null || cmd.cluster == null || !cmd.command) {\n            node.warn('build cmd: device_command saknar fields i ' + JSON.stringify(cmd));\n            return [null, null];\n        }\n        const args = {\n            node_id: Number(cmd.nodeId),\n            endpoint_id: Number(cmd.endpoint),\n            cluster_id: Number(cmd.cluster),\n            command_name: String(cmd.command)\n        };\n        if (cmd.args !== undefined) args.payload = cmd.args;\n        const json = JSON.stringify({ message_id: msgId(), command: 'device_command', args: args });\n        return [{ payload: json }, null];\n    }\n\n    if (kind === 'write_attribute') {\n        if (cmd.endpoint == null || cmd.cluster == null || cmd.attribute == null) {\n            node.warn('build cmd: write_attribute saknar fields i ' + JSON.stringify(cmd));\n            return [null, null];\n        }\n        const args = {\n            node_id: Number(cmd.nodeId),\n            attribute_path: `${cmd.endpoint}/${cmd.cluster}/${cmd.attribute}`,\n            value: cmd.value\n        };\n        const json = JSON.stringify({ message_id: msgId(), command: 'write_attribute', args: args });\n        // Optimistisk state-emit — vissa enheter (t.ex. Mill termostat) pushar inte attribute_updated på egna writes\n        const stateMsg = {\n            topic: `matter/${cmd.nodeId}/${cmd.endpoint}/${cmd.cluster}/${cmd.attribute}`,\n            payload: cmd.value,\n            matter: {\n                nodeId: Number(cmd.nodeId),\n                endpoint: Number(cmd.endpoint),\n                cluster: Number(cmd.cluster),\n                attribute: Number(cmd.attribute)\n            }\n        };\n        return [{ payload: json }, stateMsg];\n    }\n\n    node.warn('build cmd: okänt kind ' + kind);\n    return [null, null];\n}\n\nif (Array.isArray(p)) {\n    for (const cmd of p) {\n        const [wsMsg, stateMsg] = buildOne(cmd);\n        if (wsMsg) node.send([wsMsg, null]);\n        if (stateMsg) node.send([null, stateMsg]);\n    }\n    return null;\n}\n\nconst [wsMsg, stateMsg] = buildOne(p);\nreturn [wsMsg, stateMsg];",
      "outputs": 2,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 400,
      "y": 140,
      "wires": [
        [
          "2ea0a470e7fc0e0b"
        ],
        [
          "5a26f8230ec45c6a"
        ]
      ]
    },
    {
      "id": "matter_link_rawcmd_in",
      "type": "link in",
      "z": "07570f8982707c58",
      "name": "matter:rawcmd",
      "links": [
        "sync_link_rawcmd_out"
      ],
      "x": 735,
      "y": 100,
      "wires": [
        [
          "matter_ws_out"
        ]
      ]
    },
    {
      "id": "bfe36a4ede529aa1",
      "type": "link in",
      "z": "07570f8982707c58",
      "name": "Matter WebSocket Out",
      "links": [
        "2ea0a470e7fc0e0b",
        "1267808a23406535",
        "3f09fbd353250083"
      ],
      "x": 735,
      "y": 60,
      "wires": [
        [
          "matter_ws_out",
          "78f46cde9703b4ab"
        ]
      ]
    },
    {
      "id": "2ea0a470e7fc0e0b",
      "type": "link out",
      "z": "07570f8982707c58",
      "name": "link out 1",
      "mode": "link",
      "links": [
        "bfe36a4ede529aa1"
      ],
      "x": 595,
      "y": 60
    },
    {
      "id": "78f46cde9703b4ab",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "TX",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 870,
      "y": 60,
      "wires": []
    },
    {
      "id": "3f09fbd353250083",
      "type": "link out",
      "z": "07570f8982707c58",
      "name": "link out 3",
      "mode": "link",
      "links": [
        "bfe36a4ede529aa1"
      ],
      "x": 315,
      "y": 200
    },
    {
      "id": "lib_comment",
      "type": "comment",
      "z": "07570f8982707c58",
      "name": "Matter library fns init",
      "info": "Engangs/repeterbar tabb for att patcha hal2EventHandler.{ingress,egress}Library med Matter-funktionerna. Upsert by name (skriver over fn-body vid namnkollision, behaller ID).",
      "x": 130,
      "y": 660,
      "wires": []
    },
    {
      "id": "lib_inject",
      "type": "inject",
      "z": "07570f8982707c58",
      "name": "Add/Update Matter library fns",
      "props": [
        {
          "p": "url",
          "v": "http://127.0.0.1:1880/flows",
          "vt": "str"
        },
        {
          "p": "method",
          "v": "GET",
          "vt": "str"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": "",
      "topic": "",
      "payload": "",
      "payloadType": "str",
      "x": 160,
      "y": 700,
      "wires": [
        [
          "lib_http_get"
        ]
      ]
    },
    {
      "id": "lib_http_get",
      "type": "http request",
      "z": "07570f8982707c58",
      "name": "GET /flows",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 370,
      "y": 700,
      "wires": [
        [
          "lib_fn_patch"
        ]
      ]
    },
    {
      "id": "lib_fn_patch",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "patch eventHandler library",
      "func": "const flows = msg.payload;\nif (!Array.isArray(flows)) {\n    node.error('Bad /flows response: not an array');\n    node.status({ fill: 'red', shape: 'dot', text: 'bad response' });\n    return null;\n}\n\nconst EH_ID = 'e228014191d14be6';\nconst eh = flows.find(n => n.id === EH_ID);\nif (!eh) {\n    node.error('hal2EventHandler ' + EH_ID + ' not found in /flows');\n    node.status({ fill: 'red', shape: 'dot', text: 'eh not found' });\n    return null;\n}\n\neh.ingressLibrary = Array.isArray(eh.ingressLibrary) ? eh.ingressLibrary : [];\neh.egressLibrary = Array.isArray(eh.egressLibrary) ? eh.egressLibrary : [];\n\nfunction genId() {\n    return 'matter_lib_' + Math.random().toString(36).slice(2, 12);\n}\n\nconst INGRESS_FNS = [\n    { name: 'Pass-through', fn: 'return msg.payload;' },\n    { name: 'Matter Level 0-254 → 0-100', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn Math.round(Math.max(0, Math.min(254, v)) * 100 / 254);\" },\n    { name: 'Matter Mireds → CT %', fn: \"// CT in mireds -> Kelvin -> 0-100% (100=2700K warmast, 0=6500K kallast)\\nconst m = Number(msg.payload);\\nif (!isFinite(m) || m <= 0) return null;\\nconst K = 1e6 / m;\\nconst pct = Math.round(Math.max(0, Math.min(100, (6500 - K) / (6500 - 2700) * 100)));\\nreturn pct;\" },\n    { name: 'Matter Hue 0-254 → 0-360', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn Math.round(Math.max(0, Math.min(254, v)) * 360 / 254);\" },\n    { name: 'Matter Compose Color H,S,B', fn: \"const tm = String(msg.topic || '').match(/^matter\\\\/\\\\d+\\\\/\\\\d+\\\\/(\\\\d+)\\\\/(\\\\d+)$/);\\nif (!tm) return null;\\nconst c = tm[1], a = tm[2];\\nconst relevant = (c === '768' && (a === '0' || a === '1')) || (c === '8' && a === '0');\\nif (!relevant) return null;\\nconst H = (typeof item['Hue'] === 'number') ? item['Hue'] : 0;\\nconst S = (typeof item['Saturation'] === 'number') ? item['Saturation'] : 0;\\nconst B = (typeof item['Brightness'] === 'number') ? item['Brightness'] : 0;\\nreturn `${H},${S},${B}`;\" },\n    { name: 'Matter milli → unit', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn Math.round(v / 10) / 100;\" },\n    { name: 'Matter halfpercent → percent', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn Math.round(v / 2);\" },\n    { name: 'Matter centi → unit', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn v / 100;\" },\n    { name: 'Matter occupancy bit → bool', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn (v & 1) === 1;\" },\n    { name: 'Matter illuminance → lux', fn: \"const v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nreturn Math.round(Math.pow(10, (v - 1) / 10000));\" },\n    { name: 'Matter Switch event → press_type', fn: \"const p = msg.payload;\\nif (!p || typeof p !== 'object') return null;\\nif (p.event_id === 4) return 'long';\\nif (p.event_id === 6) {\\n    const count = (p.data && p.data.totalNumberOfPressesCounted) || 1;\\n    if (count === 1) return 'single';\\n    if (count === 2) return 'double';\\n    if (count === 3) return 'triple';\\n    return `multi-${count}`;\\n}\\nreturn null;\" },\n    { name: 'Matter Thermostat SystemMode → string', fn: \"// Cluster 513 attribute 28 (SystemMode enum) → human str\\nconst v = Number(msg.payload);\\nif (!isFinite(v)) return null;\\nconst MODES = { 0: 'off', 1: 'auto', 3: 'cool', 4: 'heat', 5: 'emergency_heat', 6: 'precooling', 7: 'fan_only', 8: 'dry', 9: 'sleep' };\\nreturn MODES[v] || `unknown-${v}`;\" }\n];\n\nconst EGRESS_FNS = [\n    { name: 'Matter OnOff', fn: \"const tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nmsg.payload = {\\n    nodeId: Number(tm[1]),\\n    endpoint: Number(tm[2]),\\n    cluster: 6,\\n    command: msg.payload ? 'On' : 'Off'\\n};\\nreturn msg;\" },\n    { name: 'Matter Level', fn: \"const tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nconst pct = Math.max(0, Math.min(100, Number(msg.payload) || 0));\\nmsg.payload = {\\n    nodeId: Number(tm[1]),\\n    endpoint: Number(tm[2]),\\n    cluster: 8,\\n    command: 'MoveToLevelWithOnOff',\\n    args: { level: Math.round(pct * 254 / 100), transitionTime: 0, optionsMask: 0, optionsOverride: 0 }\\n};\\nreturn msg;\" },\n    { name: 'Matter ColorTemp', fn: \"const tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nconst pct = Math.max(0, Math.min(100, Number(msg.payload) || 0));\\nconst K = 6500 - pct / 100 * (6500 - 2700);\\nconst mireds = Math.max(153, Math.min(555, Math.round(1e6 / K)));\\nmsg.payload = {\\n    nodeId: Number(tm[1]),\\n    endpoint: Number(tm[2]),\\n    cluster: 768,\\n    command: 'MoveToColorTemperature',\\n    args: { colorTemperatureMireds: mireds, transitionTime: 0, optionsMask: 0, optionsOverride: 0 }\\n};\\nreturn msg;\" },\n    { name: 'Matter HSB Color', fn: \"const tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nconst nodeId = Number(tm[1]), endpoint = Number(tm[2]);\\nconst parts = String(msg.payload || '').split(',').map(s => Number(String(s).trim()));\\nif (parts.length < 3 || !parts.every(isFinite)) {\\n    return null;\\n}\\nconst [H, S, B] = parts;\\nconst hue = Math.round(Math.max(0, Math.min(360, H)) * 254 / 360);\\nconst sat = Math.round(Math.max(0, Math.min(100, S)) * 254 / 100);\\nconst level = Math.round(Math.max(0, Math.min(100, B)) * 254 / 100);\\nmsg.payload = [\\n    { nodeId, endpoint, cluster: 768, command: 'MoveToHueAndSaturation', args: { hue, saturation: sat, transitionTime: 0, optionsMask: 0, optionsOverride: 0 } },\\n    { nodeId, endpoint, cluster: 8, command: 'MoveToLevelWithOnOff', args: { level, transitionTime: 0, optionsMask: 0, optionsOverride: 0 } }\\n];\\nreturn msg;\" },\n    { name: 'Matter Thermostat Setpoint', fn: \"// hal2 publishCommand pa 'target temperature' ger msg.payload = number (°C).\\n// Skriver BADE attr 17 (OccupiedHeatingSetpoint) OCH 18 (UnoccupiedHeatingSetpoint),\\n// 0.01 °C per LSB. Anledning: enheter varierar i vilken attr de respekterar.\\n// Mill m.fl. saknar Occupancy och respekterar bara 18; andra termostater 17.\\n// Build_cmd-fn:en i Controller-flowet hanterar arrays och skickar bada.\\nconst tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nconst tempC = Number(msg.payload);\\nif (!isFinite(tempC)) return null;\\nconst value = Math.round(Math.max(0, Math.min(100, tempC)) * 100);\\nconst nodeId = Number(tm[1]);\\nconst endpoint = Number(tm[2]);\\nmsg.payload = [\\n    { kind: 'write_attribute', nodeId, endpoint, cluster: 513, attribute: 17, value },\\n    { kind: 'write_attribute', nodeId, endpoint, cluster: 513, attribute: 18, value }\\n];\\nreturn msg;\" },\n    { name: 'Matter Thermostat Mode', fn: \"// hal2 publishCommand pa 'ac mode' ger msg.payload = str ('off'/'heat'/'auto'/'cool'/...).\\n// Skicka write_attribute till cluster 513 attr 28 (SystemMode enum).\\nconst tm = String(msg.topic || '').match(/^matter\\\\/(\\\\d+)\\\\/(\\\\d+)/);\\nif (!tm) return null;\\nconst mode = String(msg.payload || '').toLowerCase();\\nconst MODE_MAP = { 'off': 0, 'auto': 1, 'cool': 3, 'heat': 4, 'emergency_heat': 5, 'precooling': 6, 'fan_only': 7, 'dry': 8, 'sleep': 9 };\\nconst value = MODE_MAP[mode];\\nif (value === undefined) {\\n    node.warn('Matter Thermostat Mode: okant mode ' + JSON.stringify(msg.payload));\\n    return null;\\n}\\nmsg.payload = {\\n    kind: 'write_attribute',\\n    nodeId: Number(tm[1]),\\n    endpoint: Number(tm[2]),\\n    cluster: 513,\\n    attribute: 28,\\n    value: value\\n};\\nreturn msg;\" }\n];\n\nconst ingressIdx = new Map(eh.ingressLibrary.map((f, i) => [f.name, i]));\nconst egressIdx = new Map(eh.egressLibrary.map((f, i) => [f.name, i]));\n\nconst added = [];\nconst updated = [];\n\nfor (const f of INGRESS_FNS) {\n    const i = ingressIdx.get(f.name);\n    if (i === undefined) {\n        eh.ingressLibrary.push({ id: genId(), name: f.name, fn: f.fn });\n        added.push('ingress: ' + f.name);\n    } else if (eh.ingressLibrary[i].fn !== f.fn) {\n        eh.ingressLibrary[i].fn = f.fn;\n        updated.push('ingress: ' + f.name);\n    }\n}\nfor (const f of EGRESS_FNS) {\n    const i = egressIdx.get(f.name);\n    if (i === undefined) {\n        eh.egressLibrary.push({ id: genId(), name: f.name, fn: f.fn });\n        added.push('egress: ' + f.name);\n    } else if (eh.egressLibrary[i].fn !== f.fn) {\n        eh.egressLibrary[i].fn = f.fn;\n        updated.push('egress: ' + f.name);\n    }\n}\n\nif (added.length === 0 && updated.length === 0) {\n    node.warn('Library: inga andringar (alla fns aktuella)');\n    node.status({ fill: 'grey', shape: 'dot', text: 'no changes' });\n    return null;\n}\n\nconst summary = [...added.map(s => '+' + s), ...updated.map(s => '~' + s)];\nnode.warn('Library: ' + summary.length + ' fn(s):\\n  ' + summary.join('\\n  '));\nnode.status({ fill: 'green', shape: 'dot', text: `+${added.length} ~${updated.length}` });\n\nmsg.payload = flows;\nmsg.url = 'http://127.0.0.1:1880/flows';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json', 'Node-RED-Deployment-Type': 'flows' };\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 580,
      "y": 700,
      "wires": [
        [
          "lib_http_post"
        ]
      ]
    },
    {
      "id": "lib_http_post",
      "type": "http request",
      "z": "07570f8982707c58",
      "name": "POST /flows",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 790,
      "y": 700,
      "wires": [
        [
          "lib_dbg"
        ]
      ]
    },
    {
      "id": "lib_dbg",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "result",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 930,
      "y": 700,
      "wires": []
    },
    {
      "id": "sync_comment",
      "type": "comment",
      "z": "07570f8982707c58",
      "name": "Sync Matter devices till hal2 Things (Hemma)",
      "info": "Idempotent manuell sync. Things-tab id: 7d7d6362013173c3. eventHandler-id: e228014191d14be6.",
      "x": 210,
      "y": 760,
      "wires": []
    },
    {
      "id": "sync_inject",
      "type": "inject",
      "z": "07570f8982707c58",
      "name": "Sync Matter devices now",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": "",
      "topic": "",
      "payload": "true",
      "payloadType": "bool",
      "x": 150,
      "y": 800,
      "wires": [
        [
          "sync_fn_trigger"
        ]
      ]
    },
    {
      "id": "sync_fn_trigger",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "set flag + request get_nodes",
      "func": "flow.set('sync_pending', true);\nreturn {\n    payload: JSON.stringify({\n        message_id: `sync-${Date.now()}`,\n        command: 'get_nodes'\n    })\n};",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 400,
      "y": 800,
      "wires": [
        [
          "sync_link_rawcmd_out"
        ]
      ]
    },
    {
      "id": "sync_link_rawcmd_out",
      "type": "link out",
      "z": "07570f8982707c58",
      "name": "matter:rawcmd",
      "mode": "link",
      "links": [
        "matter_link_rawcmd_in"
      ],
      "x": 565,
      "y": 800
    },
    {
      "id": "sync_fn_gate",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "gate: consume sync flag",
      "func": "if (!flow.get('sync_pending')) return null;\nflow.set('sync_pending', false);\nmsg.url = 'http://127.0.0.1:1880/flow/7d7d6362013173c3';\nmsg.method = 'GET';\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 1190,
      "y": 540,
      "wires": [
        [
          "sync_http_get_flow"
        ]
      ]
    },
    {
      "id": "sync_http_get_flow",
      "type": "http request",
      "z": "07570f8982707c58",
      "name": "GET /flow/<things>",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 1410,
      "y": 540,
      "wires": [
        [
          "sync_fn_save_flow"
        ]
      ]
    },
    {
      "id": "sync_fn_save_flow",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "stash + GET /flows",
      "func": "msg.thingsFlow = msg.payload;\nmsg.url = 'http://127.0.0.1:1880/flows';\nmsg.method = 'GET';\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 1610,
      "y": 540,
      "wires": [
        [
          "sync_http_get_flows"
        ]
      ]
    },
    {
      "id": "sync_http_get_flows",
      "type": "http request",
      "z": "07570f8982707c58",
      "name": "GET /flows",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 1790,
      "y": 540,
      "wires": [
        [
          "sync_fn_build"
        ]
      ]
    },
    {
      "id": "sync_fn_build",
      "type": "function",
      "z": "07570f8982707c58",
      "name": "build sync plan",
      "func": "const matterNodes = global.get('matter_nodes') || [];\nconst flowJson = msg.thingsFlow;\nconst allFlows = msg.payload;\nif (!flowJson || !Array.isArray(flowJson.nodes)) {\n    node.error('Sync: oväntad things-flow-struktur', msg);\n    return null;\n}\nif (!Array.isArray(allFlows)) {\n    node.error('Sync: oväntad /flows-respons', msg);\n    return null;\n}\nflowJson.configs = Array.isArray(flowJson.configs) ? flowJson.configs : [];\n\nconst eventHandler = allFlows.find(n => n.id === 'e228014191d14be6');\nif (!eventHandler) {\n    node.error('Sync: hal2EventHandler ej hittad i /flows', msg);\n    return null;\n}\nconst ingressLib = eventHandler.ingressLibrary || [];\nconst egressLib = eventHandler.egressLibrary || [];\n\nfunction resolveLibFn(ref, library) {\n    if (!ref) return null;\n    const byId = library.find(f => f.id === ref);\n    if (byId) return byId.id;\n    const byName = library.find(f => f.name === ref);\n    if (byName) return byName.id;\n    return null;\n}\n\nconst SHAPE_TO_TT = {\n    '(1,256)': 'matter_onoff_light_thingtype',\n    '(1,257)': 'matter_dim_light_thingtype',\n    '(1,268)': 'matter_ct_light_thingtype',\n    '(1,269)': 'matter_lt_thingtype',\n    '(1,266)': 'matter_plug_thingtype',\n    '(1,266),(2,1296)': 'matter_metered_plug_thingtype',\n    '(1,21)': 'matter_contact_sensor_thingtype',\n    '(1,67)': 'matter_water_leak_sensor_thingtype',\n    '(1,44)': 'matter_air_quality_sensor_thingtype',\n    '(1,15),(2,15)': 'matter_dual_button_thingtype',\n    '(1,263),(2,262)': 'matter_motion_light_sensor_thingtype',\n    '(1,257),(1,1296)': 'matter_metered_dim_light_thingtype',\n    '(1,257+meter)': 'matter_metered_dim_light_inline_thingtype',\n    '(0,meter),(1,256)': 'matter_metered_switch_thingtype',\n    '(1,266+meter)': 'matter_metered_plug_combined_thingtype',\n    '(1,266+meter),(2,266+meter)': 'matter_dual_metered_plug_thingtype',\n    '(1,769)': 'matter_thermostat_thingtype',\n    '(1,770),(2,775)': 'matter_temp_humidity_sensor_thingtype'\n};\n\nconst AUXILIARY_DEVICE_TYPES = new Set([17, 65535]);\n\nconst TT_TEMPLATES = {\n    matter_onoff_light_thingtype: {\n        name: 'Matter OnOff Light',\n        nodestatus: '💡 %On%',\n        items: [\n            { name: 'On', id: 'mol_on', endpoint: 1, cluster: 6, attr: 0, haType: 'light', ingress: 'Pass-through', egress: 'Matter OnOff' }\n        ]\n    },\n    matter_dim_light_thingtype: {\n        name: 'Matter Dimmable Light',\n        nodestatus: '💡 %On% (%Brightness%%)',\n        items: [\n            { name: 'On', id: 'mdl_on', endpoint: 1, cluster: 6, attr: 0, haType: 'light', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Brightness', id: 'mdl_brightness', endpoint: 1, cluster: 8, attr: 0, haType: 'dimmer', ingress: 'Matter Level 0-254 → 0-100', egress: 'Matter Level' }\n        ]\n    },\n    matter_ct_light_thingtype: {\n        name: 'Matter Color Temperature Light',\n        nodestatus: '💡 %On% (%Brightness%%) 🌡 %ColorTemp%%',\n        items: [\n            { name: 'On', id: 'mctl_on', endpoint: 1, cluster: 6, attr: 0, haType: 'light', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Brightness', id: 'mctl_brightness', endpoint: 1, cluster: 8, attr: 0, haType: 'dimmer', ingress: 'Matter Level 0-254 → 0-100', egress: 'Matter Level' },\n            { name: 'ColorTemp', id: 'mctl_color_temp', endpoint: 1, cluster: 768, attr: 7, haType: 'color temperature', ingress: 'Matter Mireds → CT %', egress: 'Matter ColorTemp' }\n        ]\n    },\n    matter_plug_thingtype: {\n        name: 'Matter Plug',\n        nodestatus: '🔌 %On%',\n        items: [\n            { name: 'On', id: 'mp_on', endpoint: 1, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' }\n        ]\n    },\n    matter_metered_plug_thingtype: {\n        name: 'Matter Metered Plug',\n        nodestatus: '🔌 %On% ⚡ %Power%W',\n        items: [\n            { name: 'On', id: 'mmp_on', endpoint: 1, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Power', id: 'mmp_power', endpoint: 2, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true },\n            { name: 'Voltage', id: 'mmp_voltage', endpoint: 2, cluster: 144, attr: 4, haType: '', ingress: 'Matter milli → unit', readOnly: true, history: false },\n            { name: 'Current', id: 'mmp_current', endpoint: 2, cluster: 144, attr: 5, haType: '', ingress: 'Matter milli → unit', readOnly: true }\n        ]\n    },\n    matter_metered_dim_light_thingtype: {\n        name: 'Matter Metered Dimmable Light',\n        nodestatus: '💡 %On% (%Brightness%%) ⚡ %Power%W',\n        items: [\n            { name: 'On', id: 'mmdl_on', endpoint: 1, cluster: 6, attr: 0, haType: 'light', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Brightness', id: 'mmdl_brightness', endpoint: 1, cluster: 8, attr: 0, haType: 'dimmer', ingress: 'Matter Level 0-254 → 0-100', egress: 'Matter Level' },\n            { name: 'Power', id: 'mmdl_power', endpoint: 1, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true },\n            { name: 'Voltage', id: 'mmdl_voltage', endpoint: 1, cluster: 144, attr: 4, haType: '', ingress: 'Matter milli → unit', readOnly: true, history: false },\n            { name: 'Current', id: 'mmdl_current', endpoint: 1, cluster: 144, attr: 5, haType: '', ingress: 'Matter milli → unit', readOnly: true }\n        ]\n    },\n    matter_contact_sensor_thingtype: {\n        name: 'Matter Contact Sensor',\n        nodestatus: '🚪 %Contact% 🔋 %Battery%%',\n        items: [\n            { name: 'Contact', id: 'mcs_contact', endpoint: 1, cluster: 69, attr: 0, haType: 'contact', ingress: 'Pass-through', readOnly: true },\n            { name: 'Battery', id: 'mcs_battery', endpoint: 0, cluster: 47, attr: 12, haType: 'battery', ingress: 'Matter halfpercent → percent', readOnly: true }\n        ]\n    },\n    matter_water_leak_sensor_thingtype: {\n        name: 'Matter Water Leak Sensor',\n        nodestatus: '💧 %WaterLeak% 🔋 %Battery%%',\n        items: [\n            { name: 'WaterLeak', id: 'mwls_leak', endpoint: 1, cluster: 69, attr: 0, haType: 'water leak', ingress: 'Pass-through', readOnly: true },\n            { name: 'Battery', id: 'mwls_battery', endpoint: 0, cluster: 47, attr: 12, haType: 'battery', ingress: 'Matter halfpercent → percent', readOnly: true }\n        ]\n    },\n    matter_air_quality_sensor_thingtype: {\n        name: 'Matter Air Quality Sensor',\n        nodestatus: '🌫 %AirQuality% 🌡 %Temperature%°C 💧 %Humidity%% CO₂ %CO2%ppm',\n        items: [\n            { name: 'AirQuality', id: 'maqs_airquality', endpoint: 1, cluster: 91, attr: 0, haType: 'sensor', ingress: 'Pass-through', readOnly: true },\n            { name: 'Temperature', id: 'maqs_temperature', endpoint: 1, cluster: 1026, attr: 0, haType: 'temperature', ingress: 'Matter centi → unit', readOnly: true },\n            { name: 'Humidity', id: 'maqs_humidity', endpoint: 1, cluster: 1029, attr: 0, haType: 'humidity', ingress: 'Matter centi → unit', readOnly: true },\n            { name: 'CO2', id: 'maqs_co2', endpoint: 1, cluster: 1037, attr: 0, haType: 'co2', ingress: 'Pass-through', readOnly: true },\n            { name: 'PM25', id: 'maqs_pm25', endpoint: 1, cluster: 1066, attr: 0, haType: 'sensor', ingress: 'Pass-through', readOnly: true }\n        ]\n    },\n    matter_dual_button_thingtype: {\n        name: 'Matter Dual Button',\n        nodestatus: '🔘 1: %Button1% / 2: %Button2% 🔋 %Battery%%',\n        items: [\n            { name: 'Button1', id: 'mdb_btn1', endpoint: 1, cluster: 59, attr: 0, haType: 'button', ingress: 'Matter Switch event → press_type', readOnly: true, filterValue: '/1/59/_event/0' },\n            { name: 'Button2', id: 'mdb_btn2', endpoint: 2, cluster: 59, attr: 0, haType: 'button', ingress: 'Matter Switch event → press_type', readOnly: true, filterValue: '/2/59/_event/0' },\n            { name: 'Battery', id: 'mdb_battery', endpoint: 0, cluster: 47, attr: 12, haType: 'battery', ingress: 'Matter halfpercent → percent', readOnly: true }\n        ]\n    },\n    matter_motion_light_sensor_thingtype: {\n        name: 'Matter Motion + Light Sensor',\n        nodestatus: '🚶 %Motion% ☀ %Illuminance% lux 🔋 %Battery%%',\n        items: [\n            { name: 'Motion', id: 'mmls_motion', endpoint: 1, cluster: 1030, attr: 0, haType: 'motion', ingress: 'Matter occupancy bit → bool', readOnly: true },\n            { name: 'Illuminance', id: 'mmls_illuminance', endpoint: 2, cluster: 1024, attr: 0, haType: 'illuminance', ingress: 'Matter illuminance → lux', readOnly: true },\n            { name: 'Battery', id: 'mmls_battery', endpoint: 0, cluster: 47, attr: 12, haType: 'battery', ingress: 'Matter halfpercent → percent', readOnly: true }\n        ]\n    },\n    matter_thermostat_thingtype: {\n        name: 'Matter Thermostat',\n        nodestatus: '🌡 %Temperature%°C → %TargetTemp%°C [%SystemMode%]',\n        items: [\n            { name: 'Temperature', id: 'mt_temp', endpoint: 1, cluster: 513, attr: 0, haType: 'temperature', ingress: 'Matter centi → unit', readOnly: true, notes: 'LocalTemperature, 0.01 °C signed.' },\n            { name: 'TargetTemp', id: 'mt_target', endpoint: 1, cluster: 513, attr: 17, haType: 'target temperature', ingress: 'Matter centi → unit', egress: 'Matter Thermostat Setpoint', notes: 'OccupiedHeatingSetpoint, 0.01 °C. Skrivs via write_attribute.' },\n            { name: 'SystemMode', id: 'mt_mode', endpoint: 1, cluster: 513, attr: 28, haType: 'ac mode', ingress: 'Matter Thermostat SystemMode → string', egress: 'Matter Thermostat Mode', notes: 'SystemMode enum 0=off, 4=heat. Skrivs via write_attribute.' }\n        ]\n    },\n    matter_temp_humidity_sensor_thingtype: {\n        name: 'Matter Temp+Humidity Sensor',\n        nodestatus: '🌡 %Temperature%°C 💧 %Humidity%% 📊 %Pressure% hPa 🔋 %Battery%%',\n        items: [\n            { name: 'Temperature', id: 'mths_temp', endpoint: 1, cluster: 1026, attr: 0, haType: 'temperature', ingress: 'Matter centi → unit', readOnly: true, notes: 'TemperatureMeasurement, 0.01 °C signed.' },\n            { name: 'Humidity', id: 'mths_humidity', endpoint: 2, cluster: 1029, attr: 0, haType: 'humidity', ingress: 'Matter centi → unit', readOnly: true, notes: 'RelativeHumidityMeasurement, 0.01 %.' },\n            { name: 'Pressure', id: 'mths_pressure', endpoint: 1, cluster: 319486977, attr: 319422484, haType: 'pressure', ingress: 'Pass-through', readOnly: true, notes: 'Eve manufacturer-specific cluster 0x130AFC01 attr 0x130A1E84, float hPa.' },\n            { name: 'Battery', id: 'mths_battery', endpoint: 0, cluster: 47, attr: 12, haType: 'battery', ingress: 'Matter halfpercent → percent', readOnly: true }\n        ]\n    },\n    matter_metered_dim_light_inline_thingtype: {\n        name: 'Matter Metered Dimmable Light (Inline)',\n        nodestatus: '💡 %On% (%Brightness%%) ⚡ %Power%W',\n        items: [\n            { name: 'On', id: 'mmdli_on', endpoint: 1, cluster: 6, attr: 0, haType: 'light', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Brightness', id: 'mmdli_brightness', endpoint: 1, cluster: 8, attr: 0, haType: 'dimmer', ingress: 'Matter Level 0-254 → 0-100', egress: 'Matter Level' },\n            { name: 'Power', id: 'mmdli_power', endpoint: 1, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActivePower, mW.' },\n            { name: 'Voltage', id: 'mmdli_voltage', endpoint: 1, cluster: 144, attr: 4, haType: '', ingress: 'Matter milli → unit', readOnly: true, history: false, notes: 'ElectricalPowerMeasurement.Voltage, mV.' },\n            { name: 'Current', id: 'mmdli_current', endpoint: 1, cluster: 144, attr: 5, haType: '', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActiveCurrent, mA.' }\n        ]\n    },\n    matter_metered_switch_thingtype: {\n        name: 'Matter Metered Switch (Root Meter)',\n        nodestatus: '🔌 %On% ⚡ %Power%W',\n        items: [\n            { name: 'On', id: 'mms_on', endpoint: 1, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Power', id: 'mms_power', endpoint: 0, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActivePower on root endpoint, mW.' },\n            { name: 'Voltage', id: 'mms_voltage', endpoint: 0, cluster: 144, attr: 4, haType: '', ingress: 'Matter milli → unit', readOnly: true, history: false, notes: 'ElectricalPowerMeasurement.Voltage on root endpoint, mV.' },\n            { name: 'Current', id: 'mms_current', endpoint: 0, cluster: 144, attr: 5, haType: '', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActiveCurrent on root endpoint, mA.' }\n        ]\n    },\n    matter_metered_plug_combined_thingtype: {\n        name: 'Matter Metered Plug (Combined)',\n        nodestatus: '🔌 %On% ⚡ %Power%W',\n        items: [\n            { name: 'On', id: 'mpc_on', endpoint: 1, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Power', id: 'mpc_power', endpoint: 1, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActivePower, mW.' }\n        ]\n    },\n    matter_dual_metered_plug_thingtype: {\n        name: 'Matter Dual Metered Plug',\n        nodestatus: '🔌 1: %On1% ⚡ %Power1%W | 2: %On2% ⚡ %Power2%W',\n        items: [\n            { name: 'On1', id: 'mdmp_on1', endpoint: 1, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Power1', id: 'mdmp_power1', endpoint: 1, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActivePower channel 1, mW.' },\n            { name: 'On2', id: 'mdmp_on2', endpoint: 2, cluster: 6, attr: 0, haType: 'switch', ingress: 'Pass-through', egress: 'Matter OnOff' },\n            { name: 'Power2', id: 'mdmp_power2', endpoint: 2, cluster: 144, attr: 8, haType: 'power', ingress: 'Matter milli → unit', readOnly: true, notes: 'ElectricalPowerMeasurement.ActivePower channel 2, mW.' }\n        ]\n    }\n};\n\nfunction buildItem(spec, errors) {\n    const ep = spec.endpoint, c = spec.cluster, a = spec.attr;\n    const ingressId = resolveLibFn(spec.ingress, ingressLib);\n    const egressId = spec.egress ? resolveLibFn(spec.egress, egressLib) : null;\n    if (spec.ingress && !ingressId) errors.push(`ingress fn '${spec.ingress}' (item '${spec.name}')`);\n    if (spec.egress && !egressId) errors.push(`egress fn '${spec.egress}' (item '${spec.name}')`);\n    const filterValue = spec.filterValue || `/${c}/${a}`;\n    const item = {\n        name: spec.name,\n        id: spec.id,\n        topicFilters: [{ field: 'topic', matchType: 'StrEnd', value: filterValue }],\n        topicFilterMode: 'and',\n        topicSuffix: spec.egress ? `./${ep}/${c}/${a}` : '',\n        type: spec.readOnly ? 'status' : 'both',\n        haType: spec.haType || '',\n        ingress: ingressId,\n        egress: egressId,\n        notes: spec.notes || `Endpoint ${ep}, cluster ${c} attribute ${a}`,\n        output: '1',\n        history: spec.history !== undefined ? spec.history : true,\n        historyAllUpdates: false\n    };\n    if (spec.readOnly) item.readOnly = true;\n    return item;\n}\n\nfunction buildAliveItem(errors) {\n    const ingressId = resolveLibFn('Pass-through', ingressLib);\n    if (!ingressId) errors.push(`ingress fn 'Pass-through' (item 'Alive')`);\n    return {\n        name: 'Alive',\n        id: '1',\n        topicFilters: [{ field: 'topic', matchType: 'StrEnd', value: '/_alive/0' }],\n        topicFilterMode: 'and',\n        topicSuffix: '',\n        readOnly: true,\n        type: 'status',\n        ingress: ingressId,\n        egress: ''\n    };\n}\n\nfunction buildThingType(id, zTab, errors) {\n    const tpl = TT_TEMPLATES[id];\n    if (!tpl) return null;\n    const items = tpl.items.map(s => buildItem(s, errors));\n    items.push(buildAliveItem(errors));\n    const aliveIngressId = resolveLibFn('Pass-through', ingressLib);\n    return {\n        id: id,\n        type: 'hal2ThingType',\n        z: zTab,\n        name: tpl.name,\n        contextStore: 'filesystem',\n        nodestatus: tpl.nodestatus,\n        nodestatusType: 'str',\n        statusFn: \"return '';\",\n        items: items,\n        attributes: [],\n        ingress: [],\n        egress: [],\n        thingStatus: true,\n        thingCommand: true,\n        thingOutput: true,\n        hbCheck: true,\n        hbType: 'lwt',\n        hbTTL: '',\n        hbLWT: aliveIngressId,\n        hbFilters: [{ field: 'topic', matchType: 'StrEnd', value: '/_alive/0' }],\n        hbFilterMode: 'and',\n        hbFilterVal: '',\n        hbFilterType: '',\n        hbPropVal: 'payload',\n        hbPropType: 'msg',\n        filterFunction: '0',\n        outputs: '1'\n    };\n}\n\nfunction computeShape(matterNode) {\n    const attrs = matterNode.attributes || {};\n    // Samla device types per endpoint (Set så duplicat collapsar)\n    const epDts = new Map();\n    for (const key in attrs) {\n        const m = key.match(/^(\\d+)\\/29\\/0$/);\n        if (!m) continue;\n        const ep = Number(m[1]);\n        if (ep === 0) continue;\n        const dtList = attrs[key];\n        if (!Array.isArray(dtList)) continue;\n        if (!epDts.has(ep)) epDts.set(ep, new Set());\n        for (const dt of dtList) {\n            const t = dt && dt['0'];\n            if (typeof t !== 'number') continue;\n            if (AUXILIARY_DEVICE_TYPES.has(t)) continue;\n            epDts.get(ep).add(t);\n        }\n    }\n    // METERABLE: dessa DTs får '+meter' när inline-metering finns på endpointen\n    // (antingen via 1296 i samma DT-lista eller cluster 144 utan 1296 deklarerat).\n    const METERABLE = new Set([257, 266]);\n    const eps = [];\n    for (const [ep, types] of epDts) {\n        if (types.size === 0) continue;\n        const has1296 = types.has(1296);\n        const hasCluster144 = attrs[`${ep}/144/0`] !== undefined;\n        const mainTypes = [...types].filter(t => t !== 1296);\n        if (mainTypes.length === 0 && has1296) {\n            // Endpoint endast 1296 (separat metering-endpoint, t.ex. matter_metered_plug)\n            eps.push([ep, 1296]);\n            continue;\n        }\n        for (const t of mainTypes) {\n            const hasMeter = METERABLE.has(t) && (has1296 || hasCluster144);\n            eps.push([ep, hasMeter ? `${t}+meter` : t]);\n        }\n    }\n    // Root-endpoint-metering (cluster 144 på endpoint 0) som egen shape-komponent\n    if (attrs['0/144/0'] !== undefined) eps.push([0, 'meter']);\n    eps.sort((a, b) => {\n        if (a[0] !== b[0]) return a[0] - b[0];\n        return String(a[1]).localeCompare(String(b[1]));\n    });\n    return eps.map(([ep, dt]) => `(${ep},${dt})`).join(',');\n}\n\nconst LINK_OUT_ID = 'matter_things_cmd_out';\nconst STATE_IN_ID = 'matter_things_state_in';\nconst EVENT_HANDLER_ID = 'e228014191d14be6';\n\nconst existingPrefixes = new Set();\nlet existingThingCount = 0;\nfor (const n of flowJson.nodes) {\n    if (n.type === 'hal2Thing' && n.topicPrefix) {\n        existingPrefixes.add(n.topicPrefix);\n        existingThingCount++;\n    }\n}\nconst existingTTIds = new Set(flowJson.configs.filter(c => c.type === 'hal2ThingType').map(c => c.id));\n\nconst newNodes = [];\nconst newConfigs = [];\nconst skipped = [];\n\nfor (const mn of matterNodes) {\n    if (typeof mn.node_id !== 'number') continue;\n    const shape = computeShape(mn);\n    if (!shape) {\n        skipped.push({ node_id: mn.node_id, reason: 'no endpoints with device_type' });\n        continue;\n    }\n\n    const ttId = SHAPE_TO_TT[shape];\n    if (!ttId) {\n        skipped.push({ node_id: mn.node_id, shape: shape, reason: 'no ThingType for node-shape' });\n        continue;\n    }\n\n    const topicPrefix = `matter/${mn.node_id}`;\n    if (existingPrefixes.has(topicPrefix)) continue;\n\n    if (!existingTTIds.has(ttId)) {\n        const errors = [];\n        const newTT = buildThingType(ttId, flowJson.id, errors);\n        if (!newTT) {\n            skipped.push({ node_id: mn.node_id, shape: shape, reason: `no template for ThingType '${ttId}'` });\n            continue;\n        }\n        if (errors.length) {\n            skipped.push({ node_id: mn.node_id, shape: shape, reason: `unresolved library fns: ${errors.join(', ')}` });\n            continue;\n        }\n        newConfigs.push(newTT);\n        existingTTIds.add(ttId);\n    }\n\n    const thingId = `matter_thing_${mn.node_id}`;\n    const attrs = mn.attributes || {};\n    const vendor = String(attrs['0/40/1'] || '').trim();\n    const product = String(attrs['0/40/3'] || '').trim();\n    const name = (vendor || product) ? `${vendor} ${product}`.trim() : `Matter ${mn.node_id}`;\n\n    newNodes.push({\n        id: thingId,\n        type: 'hal2Thing',\n        z: flowJson.id,\n        eventHandler: EVENT_HANDLER_ID,\n        thingType: ttId,\n        name: name,\n        attributes: [],\n        topicFilter: `${topicPrefix}/#`,\n        topicFilterType: 'mqtt',\n        topicPrefix: topicPrefix,\n        notes: `Auto-genererad ${new Date().toISOString()}. shape=${shape}.`,\n        outputs: 1,\n        x: 320,\n        y: 200 + 80 * (existingThingCount + newNodes.length),\n        wires: [[LINK_OUT_ID]]\n    });\n}\n\nif (newNodes.length === 0 && newConfigs.length === 0) {\n    const txt = `no changes (existing=${existingThingCount}, skipped=${skipped.length})`;\n    node.status({ fill: 'grey', shape: 'dot', text: txt });\n    if (skipped.length) node.warn(`Sync skipped: ${JSON.stringify(skipped)}`);\n    return null;\n}\n\nconst stateIn = flowJson.nodes.find(n => n.id === STATE_IN_ID);\nif (stateIn && newNodes.length > 0) {\n    if (!Array.isArray(stateIn.wires)) stateIn.wires = [[]];\n    if (!Array.isArray(stateIn.wires[0])) stateIn.wires[0] = [];\n    for (const n of newNodes) {\n        if (!stateIn.wires[0].includes(n.id)) stateIn.wires[0].push(n.id);\n    }\n}\n\nflowJson.nodes.push(...newNodes);\nflowJson.configs.push(...newConfigs);\n\nconst summary = `+${newNodes.length} thing(s)` + (newConfigs.length ? `, +${newConfigs.length} ThingType(s)` : '');\nnode.status({ fill: 'green', shape: 'dot', text: summary });\nnode.warn(`Sync: ${summary}. New Things: ${newNodes.map(n => `${n.name} [${n.id}]`).join(', ') || '—'}. New ThingTypes: ${newConfigs.map(c => c.id).join(', ') || '—'}.`);\nif (skipped.length) node.warn(`Sync skipped: ${JSON.stringify(skipped)}`);\n\nmsg.payload = flowJson;\nmsg.url = 'http://127.0.0.1:1880/flow/7d7d6362013173c3';\nmsg.method = 'PUT';\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 1960,
      "y": 540,
      "wires": [
        [
          "sync_http_put"
        ]
      ]
    },
    {
      "id": "sync_http_put",
      "type": "http request",
      "z": "07570f8982707c58",
      "name": "PUT things flow",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 2140,
      "y": 540,
      "wires": [
        [
          "sync_dbg"
        ]
      ]
    },
    {
      "id": "sync_dbg",
      "type": "debug",
      "z": "07570f8982707c58",
      "name": "sync result",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 2310,
      "y": 540,
      "wires": []
    },
    {
      "id": "5a26f8230ec45c6a",
      "type": "link out",
      "z": "07570f8982707c58",
      "name": "matter:state",
      "mode": "link",
      "links": [
        "matter_things_state_in"
      ],
      "x": 595,
      "y": 140
    }
  ],
  "configs": [
    {
      "id": "matter_ws_client",
      "type": "websocket-client",
      "z": "07570f8982707c58",
      "path": "${MATTER_WS_URL}",
      "tls": "",
      "wholemsg": "false",
      "hb": "30",
      "subprotocol": ""
    }
  ]
}
