examples/owntone-mcp.json
[
  {
    "id": "tab-owntone-mcp",
    "type": "tab",
    "label": "OwnTone MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "ot-c1",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_get_outputs – MCP-tool",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "ot-in-get-outputs",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Get outputs",
    "eventHandler": "",
    "toolName": "owntone_get_outputs",
    "description": "List AirPlay speakers available in OwnTone. Apple TVs requiring pairing and the virtual Computer output are excluded. Use this to see available speaker names before calling owntone_set_outputs.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 80,
    "wires": [["ot-fn-get-outputs"]]
  },
  {
    "id": "ot-fn-get-outputs",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "GET /api/outputs",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst r = await httpReq('GET', '/api/outputs');\nif (r.status >= 400) { msg.payload = { error: 'OwnTone error: HTTP ' + r.status }; return msg; }\nmsg.payload = { outputs: (r.body && r.body.outputs ? r.body.outputs : [])\n    .filter(o => o.type !== 'dummy' && !o.requires_auth)\n    .map(o => ({ id: o.id, name: o.name, selected: o.selected, volume: o.volume })) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 360,
    "y": 80,
    "wires": [["ot-out-get-outputs"]]
  },
  {
    "id": "ot-out-get-outputs",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 80,
    "wires": []
  },

  {
    "id": "ot-c2",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_set_outputs – MCP-tool",
    "info": "",
    "x": 120,
    "y": 160,
    "wires": []
  },
  {
    "id": "ot-in-set-outputs",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Set outputs",
    "eventHandler": "",
    "toolName": "owntone_set_outputs",
    "description": "Select which rooms/speakers should receive audio. Call this first when the user wants music in specific rooms. OwnTone then distributes audio to the selected speakers via AirPlay 2. Workflow: 1) owntone_set_outputs to pick rooms, 2) owntone_play_spotify to start music.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"names\"],\"properties\":{\"names\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"Speaker names to activate (case-insensitive) — use owntone_get_outputs for available names. All others will be deactivated.\"},\"volume\":{\"type\":\"integer\",\"description\":\"Volume 0-100 to set on activated outputs (optional)\",\"minimum\":0,\"maximum\":100}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 200,
    "wires": [["ot-fn-set-outputs"]]
  },
  {
    "id": "ot-fn-set-outputs",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "PUT /api/outputs",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { names, volume } = msg.payload;\nif (!names || !Array.isArray(names)) { msg.payload = { error: 'names must be an array of speaker names' }; return msg; }\nconst lowerNames = names.map(s => s.toLowerCase());\nconst gr = await httpReq('GET', '/api/outputs');\nif (gr.status >= 400) { msg.payload = { error: 'Failed to get outputs: HTTP ' + gr.status }; return msg; }\nconst allOutputs = (gr.body && gr.body.outputs ? gr.body.outputs : []).filter(o => o.type !== 'dummy' && !o.requires_auth);\nconst matched = [];\nconst notFound = names.filter(s => !allOutputs.some(o => o.name.toLowerCase() === s.toLowerCase()));\nfor (const o of allOutputs) {\n    const match = lowerNames.includes(o.name.toLowerCase());\n    const body = { selected: match };\n    if (match && volume != null) body.volume = volume;\n    const r = await httpReq('PUT', '/api/outputs/' + o.id, body);\n    if (r.status >= 400) { msg.payload = { error: 'Failed to update ' + o.name + ': HTTP ' + r.status }; return msg; }\n    if (match) matched.push(o.name);\n}\nmsg.payload = { success: true, activated: matched, not_found: notFound };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 360,
    "y": 200,
    "wires": [["ot-out-set-outputs"]]
  },
  {
    "id": "ot-out-set-outputs",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 200,
    "wires": []
  },

  {
    "id": "ot-c3",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_play_spotify – MCP-tool",
    "info": "",
    "x": 120,
    "y": 280,
    "wires": []
  },
  {
    "id": "ot-in-get-player",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Play Spotify",
    "eventHandler": "",
    "toolName": "owntone_play_spotify",
    "description": "Play a Spotify item on the currently active OwnTone outputs. Call owntone_set_outputs first to select rooms. Accepts any Spotify URI: track, playlist, album or artist.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"uri\"],\"properties\":{\"uri\":{\"type\":\"string\",\"description\":\"Spotify URI to play — e.g. spotify:playlist:37i9dQZF1DX... or spotify:track:4iV5W9uY...\"},\"shuffle\":{\"type\":\"boolean\",\"description\":\"Enable shuffle mode before playing\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 320,
    "wires": [["ot-fn-get-player"]]
  },
  {
    "id": "ot-fn-get-player",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "POST /api/queue/items/add",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { uri, shuffle } = msg.payload;\nif (!uri) { msg.payload = { error: 'uri is required (e.g. spotify:playlist:...)' }; return msg; }\nlet params = 'uris=' + encodeURIComponent(uri) + '&clear=true&playback=start';\nif (shuffle) params += '&shuffle=true';\nconst r = await httpReq('POST', '/api/queue/items/add?' + params);\nif (r.status >= 400) { msg.payload = { error: 'Play failed: HTTP ' + r.status + ' ' + JSON.stringify(r.body) }; return msg; }\nmsg.payload = { success: true, uri, shuffle: !!shuffle };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 400,
    "y": 320,
    "wires": [["ot-out-get-player"]]
  },
  {
    "id": "ot-out-get-player",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 320,
    "wires": []
  },

  {
    "id": "ot-c4",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_player – MCP-tool",
    "info": "",
    "x": 120,
    "y": 400,
    "wires": []
  },
  {
    "id": "ot-in-set-volume",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Player control",
    "eventHandler": "",
    "toolName": "owntone_player",
    "description": "Control OwnTone playback and get player status. Use action=\"status\" (or omit) to get current state. Actions: play, pause, stop, next, previous, status. Optionally set master volume 0-100 alongside any action.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"action\":{\"type\":\"string\",\"enum\":[\"play\",\"pause\",\"stop\",\"next\",\"previous\",\"status\"],\"description\":\"Playback action — omit or use status to get player state\"},\"volume\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100,\"description\":\"Master volume 0-100 (can be combined with action)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 440,
    "wires": [["ot-fn-set-volume"]]
  },
  {
    "id": "ot-fn-set-volume",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "Player control",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { action, volume } = msg.payload;\nconst results = {};\nif (volume != null) {\n    const vr = await httpReq('PUT', '/api/player/volume', { volume });\n    if (vr.status >= 400) { msg.payload = { error: 'Volume failed: HTTP ' + vr.status }; return msg; }\n    results.volume_set = volume;\n}\nif (!action || action === 'status') {\n    const r = await httpReq('GET', '/api/player');\n    if (r.status >= 400) { msg.payload = { error: 'Status failed: HTTP ' + r.status }; return msg; }\n    const p = r.body || {};\n    msg.payload = { ...results, state: p.state, volume: p.volume, item_progress_ms: p.item_progress_ms, item_length_ms: p.item_length_ms, shuffle: p.shuffle, repeat: p.repeat };\n    return msg;\n}\nconst paths = { play: '/api/player/play', pause: '/api/player/pause', stop: '/api/player/stop', next: '/api/player/next', previous: '/api/player/previous' };\nconst p = paths[action];\nif (!p) { msg.payload = { error: 'Unknown action: ' + action + '. Valid: play, pause, stop, next, previous, status' }; return msg; }\nconst r = await httpReq('PUT', p);\nif (r.status >= 400) { msg.payload = { error: action + ' failed: HTTP ' + r.status }; return msg; }\nmsg.payload = { success: true, action, ...results };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 360,
    "y": 440,
    "wires": [["ot-out-set-volume"]]
  },
  {
    "id": "ot-out-set-volume",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 440,
    "wires": []
  },

  {
    "id": "ot-c5",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_set_volume – MCP-tool",
    "info": "",
    "x": 120,
    "y": 520,
    "wires": []
  },
  {
    "id": "ot-in-set-vol",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Set volume per speaker",
    "eventHandler": "",
    "toolName": "owntone_set_volume",
    "description": "Set the volume for one or more speakers individually without changing which speakers are active. Use speaker names from owntone_get_outputs.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"outputs\"],\"properties\":{\"outputs\":{\"type\":\"array\",\"description\":\"Speakers and their target volumes\",\"items\":{\"type\":\"object\",\"required\":[\"name\",\"volume\"],\"properties\":{\"name\":{\"type\":\"string\",\"description\":\"Speaker name from owntone_get_outputs\"},\"volume\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100,\"description\":\"Volume 0-100\"}}}}}}",
    "topic": "",
    "timeout": 15,
    "x": 140,
    "y": 560,
    "wires": [["ot-fn-set-vol"]]
  },
  {
    "id": "ot-fn-set-vol",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "PUT /api/outputs/{id}",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { outputs } = msg.payload;\nif (!outputs || !Array.isArray(outputs)) { msg.payload = { error: 'outputs must be an array of {name, volume}' }; return msg; }\nconst gr = await httpReq('GET', '/api/outputs');\nif (gr.status >= 400) { msg.payload = { error: 'Failed to get outputs: HTTP ' + gr.status }; return msg; }\nconst allOutputs = (gr.body && gr.body.outputs ? gr.body.outputs : []).filter(o => o.type !== 'dummy' && !o.requires_auth);\nconst updated = [];\nconst notFound = [];\nfor (const { name, volume } of outputs) {\n    const output = allOutputs.find(o => o.name.toLowerCase() === name.toLowerCase());\n    if (!output) { notFound.push(name); continue; }\n    const r = await httpReq('PUT', '/api/outputs/' + output.id, { volume });\n    if (r.status >= 400) { msg.payload = { error: 'Failed to set volume for ' + name + ': HTTP ' + r.status }; return msg; }\n    updated.push({ name: output.name, volume });\n}\nmsg.payload = { success: true, updated, not_found: notFound };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 390,
    "y": 560,
    "wires": [["ot-out-set-vol"]]
  },
  {
    "id": "ot-out-set-vol",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 560,
    "wires": []
  },

  {
    "id": "ot-c6",
    "type": "comment",
    "z": "tab-owntone-mcp",
    "name": "owntone_search – MCP-tool",
    "info": "",
    "x": 120,
    "y": 640,
    "wires": []
  },
  {
    "id": "ot-in-search",
    "type": "hal2MCPIn",
    "z": "tab-owntone-mcp",
    "name": "Search library",
    "eventHandler": "",
    "toolName": "owntone_search",
    "description": "Search the OwnTone music library for tracks, albums, artists or playlists. Returns matching items with their Spotify URIs where available — use those URIs with owntone_play_spotify.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"query\"],\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Search terms\"},\"type\":{\"type\":\"string\",\"description\":\"Comma-separated types to search: tracks, albums, artists, playlists (default: tracks,albums,artists,playlists)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 130,
    "y": 680,
    "wires": [["ot-fn-search"]]
  },
  {
    "id": "ot-fn-search",
    "type": "function",
    "z": "tab-owntone-mcp",
    "name": "GET /api/search",
    "func": "const owntoneUrl = env.get('OWNTONE_URL');\nif (!owntoneUrl) { node.error('OWNTONE_URL not set'); return null; }\nconst u = new URL(owntoneUrl);\nconst httpReq = (method, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Accept': 'application/json' };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = http.request({ hostname: u.hostname, port: parseInt(u.port) || 3689, path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { query, type } = msg.payload;\nif (!query) { msg.payload = { error: 'query is required' }; return msg; }\nconst types = type || 'tracks,albums,artists,playlists';\nconst r = await httpReq('GET', '/api/search?query=' + encodeURIComponent(query) + '&type=' + encodeURIComponent(types));\nif (r.status >= 400) { msg.payload = { error: 'Search failed: HTTP ' + r.status }; return msg; }\nconst d = r.body || {};\nconst result = {};\nif (d.tracks && d.tracks.items) result.tracks = d.tracks.items.map(t => ({ id: t.id, title: t.title, artist: t.artist, album: t.album, uri: t.uri }));\nif (d.albums && d.albums.items) result.albums = d.albums.items.map(a => ({ id: a.id, name: a.name, artist: a.artist, uri: a.uri }));\nif (d.artists && d.artists.items) result.artists = d.artists.items.map(a => ({ id: a.id, name: a.name, uri: a.uri }));\nif (d.playlists && d.playlists.items) result.playlists = d.playlists.items.map(p => ({ id: p.id, name: p.name, uri: p.uri }));\nmsg.payload = JSON.stringify(result);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 360,
    "y": 680,
    "wires": [["ot-out-search"]]
  },
  {
    "id": "ot-out-search",
    "type": "hal2MCPOut",
    "z": "tab-owntone-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 680,
    "wires": []
  }
]
