examples/radarr-mcp.json
[
  {
    "id": "tab-radarr-mcp",
    "type": "tab",
    "label": "Radarr MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "rdr-in-search",
    "type": "hal2MCPIn",
    "z": "tab-radarr-mcp",
    "name": "Search movies",
    "mcpServer": "",
    "toolName": "radarr_search",
    "description": "Search for movies in the Radarr library and on TMDB. Returns availability status — hasFile indicates the movie is downloaded and ready to watch. Movies not yet added to Radarr will have id=null. Use the returned id (Radarr ID) with radarr_get_movie for more details, or use the tmdbId with seerr_request to request a movie.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"query\"],\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Movie title to search for\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 80,
    "wires": [["rdr-fn-search-req"]]
  },
  {
    "id": "rdr-fn-search-req",
    "type": "function",
    "z": "tab-radarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('RADARR_URL');\nconst key = env.get('RADARR_API_KEY');\nif (!base) { node.error('RADARR_URL not set'); return null; }\nif (!key) { node.error('RADARR_API_KEY not set'); return null; }\nconst { query } = msg.payload || {};\nmsg.url = `${base}/api/v3/movie/lookup?term=${encodeURIComponent(query)}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["rdr-http-search"]]
  },
  {
    "id": "rdr-http-search",
    "type": "http request",
    "z": "tab-radarr-mcp",
    "name": "GET /api/v3/movie/lookup",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 540,
    "y": 80,
    "wires": [["rdr-fn-search-resp"]]
  },
  {
    "id": "rdr-fn-search-resp",
    "type": "function",
    "z": "tab-radarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst arr = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = JSON.stringify(arr.slice(0, 10).map(m => ({\n  id: m.id || null,\n  title: m.title,\n  year: m.year || null,\n  tmdbId: m.tmdbId || null,\n  hasFile: m.hasFile || false,\n  monitored: m.monitored || false,\n  status: m.status || null,\n  overview: (m.overview || '').slice(0, 200) || null,\n  poster: ((m.images || []).find(i => i.coverType === 'poster') || {}).remoteUrl || null\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 80,
    "wires": [["rdr-out-search"]]
  },
  {
    "id": "rdr-out-search",
    "type": "hal2MCPOut",
    "z": "tab-radarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 80,
    "wires": []
  },

  {
    "id": "rdr-in-get-movie",
    "type": "hal2MCPIn",
    "z": "tab-radarr-mcp",
    "name": "Get movie",
    "mcpServer": "",
    "toolName": "radarr_get_movie",
    "description": "Get detailed information about a movie in the Radarr library by its Radarr ID. Returns file status, size on disk, quality and path. Use radarr_search first to find the Radarr ID.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"radarr_id\"],\"properties\":{\"radarr_id\":{\"type\":\"integer\",\"description\":\"Radarr movie ID from radarr_search\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 200,
    "wires": [["rdr-fn-get-movie-req"]]
  },
  {
    "id": "rdr-fn-get-movie-req",
    "type": "function",
    "z": "tab-radarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('RADARR_URL');\nconst key = env.get('RADARR_API_KEY');\nif (!base) { node.error('RADARR_URL not set'); return null; }\nif (!key) { node.error('RADARR_API_KEY not set'); return null; }\nconst { radarr_id } = msg.payload || {};\nmsg.url = `${base}/api/v3/movie/${radarr_id}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["rdr-http-get-movie"]]
  },
  {
    "id": "rdr-http-get-movie",
    "type": "http request",
    "z": "tab-radarr-mcp",
    "name": "GET /api/v3/movie/{id}",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 200,
    "wires": [["rdr-fn-get-movie-resp"]]
  },
  {
    "id": "rdr-fn-get-movie-resp",
    "type": "function",
    "z": "tab-radarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst m = msg.payload || {};\nconst f = m.movieFile || null;\nmsg.payload = JSON.stringify({\n  id: m.id,\n  title: m.title,\n  year: m.year || null,\n  tmdbId: m.tmdbId || null,\n  hasFile: m.hasFile || false,\n  monitored: m.monitored || false,\n  status: m.status || null,\n  overview: (m.overview || '').slice(0, 300) || null,\n  path: m.path || null,\n  sizeOnDisk: m.sizeOnDisk || 0,\n  quality: f ? (f.quality && f.quality.quality ? f.quality.quality.name : null) : null\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [["rdr-out-get-movie"]]
  },
  {
    "id": "rdr-out-get-movie",
    "type": "hal2MCPOut",
    "z": "tab-radarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 200,
    "wires": []
  }
]
