examples/rest980-mcp.json
[
  {
    "id": "tab-rest980-mcp",
    "type": "tab",
    "label": "rest980 MCP",
    "disabled": false,
    "info": "MCP tools for iRobot Roomba via rest980 (https://github.com/koalazak/rest980).\nSet env var REST980_URL to the rest980 base URL, e.g. http://192.168.1.50:3000\nSet mcpServer on each MCPIn node to your event handler node ID."
  },

  {
    "id": "rb-in-status",
    "type": "hal2MCPIn",
    "z": "tab-rest980-mcp",
    "name": "iRobot status",
    "mcpServer": "",
    "toolName": "irobot_status",
    "description": "Returns the current status of the iRobot Roomba: cleaning cycle (none/clean/quick/spot/evac/dock/train), phase (charge/run/stuck/stop/hmPostMsn/hmUsrDock/dockend/idle), battery percentage, cleaning time, area covered in sqft, error code, and pmap_id (map ID needed for irobot_clean_room). Call this to check if the robot is running, docked, or stuck.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 10,
    "x": 120,
    "y": 80,
    "wires": [["rb-fn-status-req"]]
  },
  {
    "id": "rb-fn-status-req",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Build request",
    "func": "const base = env.get('REST980_URL');\nif (!base) { node.error('REST980_URL not set'); return null; }\nmsg.url = `${base}/api/local/info/state`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["rb-http-status"]]
  },
  {
    "id": "rb-http-status",
    "type": "http request",
    "z": "tab-rest980-mcp",
    "name": "GET /api/local/info/state",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 80,
    "wires": [["rb-fn-status-resp"]]
  },
  {
    "id": "rb-fn-status-resp",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) {\n    msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` });\n    return msg;\n}\nconst d = msg.payload || {};\nconst m = d.cleanMissionStatus || {};\nmsg.payload = JSON.stringify({\n    cycle:             m.cycle     || null,\n    phase:             m.phase     || null,\n    battery_pct:       d.batPct    !== undefined ? d.batPct   : null,\n    cleaning_time_min: m.mssnM     !== undefined ? m.mssnM    : null,\n    sqft:              m.sqft      !== undefined ? m.sqft     : null,\n    error:             m.error     !== undefined ? m.error    : null,\n    pmap_id:           (d.lastCommand && d.lastCommand.pmapId) || null,\n    initiator:         m.initiator || null\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 80,
    "wires": [["rb-out-status"]]
  },
  {
    "id": "rb-out-status",
    "type": "hal2MCPOut",
    "z": "tab-rest980-mcp",
    "name": "",
    "mcpServer": "",
    "x": 940,
    "y": 80,
    "wires": []
  },

  {
    "id": "rb-in-action",
    "type": "hal2MCPIn",
    "z": "tab-rest980-mcp",
    "name": "iRobot action",
    "mcpServer": "",
    "toolName": "irobot_action",
    "description": "Send a command to the iRobot Roomba. Use 'start' to begin cleaning, 'stop' to halt, 'pause' to pause, 'resume' to continue after pause, or 'dock' to send the robot back to its charging dock.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"action\"],\"properties\":{\"action\":{\"type\":\"string\",\"description\":\"Action to perform\",\"enum\":[\"start\",\"stop\",\"pause\",\"dock\",\"resume\"]}}}",
    "topic": "",
    "timeout": 10,
    "x": 120,
    "y": 200,
    "wires": [["rb-fn-action-req"]]
  },
  {
    "id": "rb-fn-action-req",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Validate + build request",
    "func": "const VALID = ['start', 'stop', 'pause', 'dock', 'resume'];\nconst action = (msg.payload || {}).action;\nif (!action || !VALID.includes(action)) {\n    msg.payload = JSON.stringify({ error: `Invalid action '${action}'. Use: ${VALID.join(', ')}` });\n    return [null, msg];\n}\nconst base = env.get('REST980_URL');\nif (!base) {\n    msg.payload = JSON.stringify({ error: 'REST980_URL not set' });\n    return [null, msg];\n}\nmsg._action = action;\nmsg.url = `${base}/api/local/action/${action}`;\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 200,
    "wires": [["rb-http-action"], ["rb-out-action"]]
  },
  {
    "id": "rb-http-action",
    "type": "http request",
    "z": "tab-rest980-mcp",
    "name": "GET /api/local/action/{action}",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 550,
    "y": 200,
    "wires": [["rb-fn-action-resp"]]
  },
  {
    "id": "rb-fn-action-resp",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) {\n    msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` });\n    return msg;\n}\nmsg.payload = JSON.stringify({ action: msg._action, ok: true });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 200,
    "wires": [["rb-out-action"]]
  },
  {
    "id": "rb-out-action",
    "type": "hal2MCPOut",
    "z": "tab-rest980-mcp",
    "name": "",
    "mcpServer": "",
    "x": 940,
    "y": 200,
    "wires": []
  },

  {
    "id": "rb-in-cleanroom",
    "type": "hal2MCPIn",
    "z": "tab-rest980-mcp",
    "name": "iRobot clean room",
    "mcpServer": "",
    "toolName": "irobot_clean_room",
    "description": "Start a targeted room cleaning session. Requires the pmap_id (map ID) and region_ids (room IDs) — get pmap_id from irobot_status. The robot will clean only the specified rooms. Use ordered=true (default) to clean in sequence.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"pmap_id\",\"region_ids\"],\"properties\":{\"pmap_id\":{\"type\":\"string\",\"description\":\"Map ID — get from irobot_status pmap_id field\"},\"region_ids\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"Room IDs to clean\"},\"user_pmapv_id\":{\"type\":\"string\",\"description\":\"Map version string (optional)\"},\"ordered\":{\"type\":\"boolean\",\"description\":\"Clean rooms in order (default: true)\"}}}",
    "topic": "",
    "timeout": 10,
    "x": 120,
    "y": 320,
    "wires": [["rb-fn-cleanroom-req"]]
  },
  {
    "id": "rb-fn-cleanroom-req",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Build request",
    "func": "const base = env.get('REST980_URL');\nif (!base) { node.error('REST980_URL not set'); return null; }\nconst { pmap_id, region_ids, user_pmapv_id, ordered } = msg.payload || {};\nmsg.url = `${base}/api/local/action/cleanRoom`;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    ordered:  ordered === false ? 0 : 1,\n    pmap_id,\n    regions:  (region_ids || []).map(id => ({ region_id: String(id), type: 'rid' }))\n};\nif (user_pmapv_id) msg.payload.user_pmapv_id = user_pmapv_id;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 320,
    "wires": [["rb-http-cleanroom"]]
  },
  {
    "id": "rb-http-cleanroom",
    "type": "http request",
    "z": "tab-rest980-mcp",
    "name": "POST /api/local/action/cleanRoom",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 540,
    "y": 320,
    "wires": [["rb-fn-cleanroom-resp"]]
  },
  {
    "id": "rb-fn-cleanroom-resp",
    "type": "function",
    "z": "tab-rest980-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) {\n    msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` });\n    return msg;\n}\nconst raw = msg.payload || {};\nmsg.payload = JSON.stringify({ ok: raw.ok !== undefined ? !!raw.ok : msg.statusCode < 300 });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 320,
    "wires": [["rb-out-cleanroom"]]
  },
  {
    "id": "rb-out-cleanroom",
    "type": "hal2MCPOut",
    "z": "tab-rest980-mcp",
    "name": "",
    "mcpServer": "",
    "x": 940,
    "y": 320,
    "wires": []
  }
]
