examples/seerr-mcp.json
[
  {
    "id": "tab-seerr-mcp",
    "type": "tab",
    "label": "Seerr MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "sr-in-search",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Search",
    "mcpServer": "",
    "toolName": "seerr_search",
    "description": "Search for movies and TV shows via TMDB. Returns results with availability status so you know if something is already available, pending, or not yet requested. Use the returned id (TMDB ID) and mediaType when calling seerr_request.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"query\"],\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Search terms — movie or TV show title\"},\"page\":{\"type\":\"integer\",\"description\":\"Result page number (default 1)\",\"minimum\":1}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 80,
    "wires": [["sr-fn-search-req"]]
  },
  {
    "id": "sr-fn-search-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { query, page } = msg.payload || {};\nmsg.url = `${base}/api/v1/search?query=${encodeURIComponent(query)}&page=${page || 1}`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["sr-http-search"]]
  },
  {
    "id": "sr-http-search",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/search",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 80,
    "wires": [["sr-fn-search-resp"]]
  },
  {
    "id": "sr-fn-search-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst statusLabel = s => ({ 1: 'unknown', 2: 'pending', 3: 'processing', 4: 'partial', 5: 'available' }[s] || 'not_requested');\nconst items = (msg.payload.results || []).map(r => ({\n  id: r.id,\n  mediaType: r.mediaType,\n  title: r.title || r.name,\n  year: (r.releaseDate || r.firstAirDate || '').slice(0, 4) || null,\n  overview: (r.overview || '').slice(0, 200) || null,\n  status: statusLabel(r.mediaInfo && r.mediaInfo.status),\n  poster: r.posterPath ? `https://image.tmdb.org/t/p/w300${r.posterPath}` : null\n}));\nmsg.payload = JSON.stringify({ totalResults: msg.payload.totalResults, page: msg.payload.page, totalPages: msg.payload.totalPages, results: items });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 80,
    "wires": [["sr-out-search"]]
  },
  {
    "id": "sr-out-search",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 80,
    "wires": []
  },

  {
    "id": "sr-in-request",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Request media",
    "mcpServer": "",
    "toolName": "seerr_request",
    "description": "Request a movie or TV show. Use seerr_search first to get the TMDB id and mediaType. For TV shows, optionally specify which seasons to request — if omitted all seasons are requested. Movies and approved TV requests are automatically sent to Radarr and Sonarr respectively.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"mediaId\",\"mediaType\"],\"properties\":{\"mediaId\":{\"type\":\"integer\",\"description\":\"TMDB ID from seerr_search\"},\"mediaType\":{\"type\":\"string\",\"enum\":[\"movie\",\"tv\"],\"description\":\"Media type\"},\"seasons\":{\"type\":\"array\",\"items\":{\"type\":\"integer\"},\"description\":\"Season numbers to request (TV only — omit to request all seasons)\"},\"is4k\":{\"type\":\"boolean\",\"description\":\"Request 4K quality (default false)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 130,
    "y": 200,
    "wires": [["sr-fn-request-req"]]
  },
  {
    "id": "sr-fn-request-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { mediaId, mediaType, seasons, is4k } = msg.payload || {};\nconst body = { mediaId, mediaType: mediaType.toUpperCase(), is4k: !!is4k };\nif (mediaType === 'tv' && Array.isArray(seasons) && seasons.length > 0) body.seasons = seasons;\nmsg.url = `${base}/api/v1/request`;\nmsg.method = 'POST';\nmsg.headers = { 'X-Api-Key': key, 'Content-Type': 'application/json' };\nmsg.payload = body;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["sr-http-request"]]
  },
  {
    "id": "sr-http-request",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "POST /api/v1/request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 200,
    "wires": [["sr-fn-request-resp"]]
  },
  {
    "id": "sr-fn-request-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "const code = msg.statusCode;\nif (code === 201) {\n  const r = msg.payload || {};\n  msg.payload = JSON.stringify({ success: true, requestId: r.id, status: r.status, mediaType: r.type });\n} else if (code === 202) {\n  msg.payload = JSON.stringify({ success: true, note: 'No new seasons available to request' });\n} else if (code === 403) {\n  msg.payload = JSON.stringify({ error: 'Permission denied, quota exceeded, or media is blocklisted' });\n} else if (code === 409) {\n  msg.payload = JSON.stringify({ error: 'Already requested' });\n} else {\n  msg.payload = JSON.stringify({ error: `HTTP ${code}` });\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [["sr-out-request"]]
  },
  {
    "id": "sr-out-request",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 200,
    "wires": []
  },

  {
    "id": "sr-in-get-requests",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Get requests",
    "mcpServer": "",
    "toolName": "seerr_get_requests",
    "description": "List media requests and their current status. Use filter to narrow by state. Useful for checking if a request was approved, is downloading, or is already available.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"filter\":{\"type\":\"string\",\"enum\":[\"all\",\"pending\",\"approved\",\"processing\",\"available\",\"failed\"],\"description\":\"Filter by request status (default: all)\"},\"mediaType\":{\"type\":\"string\",\"enum\":[\"movie\",\"tv\"],\"description\":\"Filter by media type (omit for both)\"},\"take\":{\"type\":\"integer\",\"description\":\"Number of results to return (default 20)\",\"minimum\":1,\"maximum\":100}}}",
    "topic": "",
    "timeout": 15,
    "x": 130,
    "y": 320,
    "wires": [["sr-fn-get-requests-req"]]
  },
  {
    "id": "sr-fn-get-requests-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { filter, mediaType, take } = msg.payload || {};\nlet qs = `take=${take || 20}&skip=0&filter=${filter || 'all'}&sort=added&sortDirection=desc`;\nif (mediaType) qs += `&mediaType=${mediaType}`;\nmsg.url = `${base}/api/v1/request?${qs}`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 320,
    "wires": [["sr-http-get-requests"]]
  },
  {
    "id": "sr-http-get-requests",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/request",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 320,
    "wires": [["sr-fn-get-requests-resp"]]
  },
  {
    "id": "sr-fn-get-requests-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst statusLabel = s => ({ 1: 'unknown', 2: 'pending', 3: 'processing', 4: 'partial', 5: 'available' }[s] || 'unknown');\nconst results = (msg.payload.results || []).map(r => {\n  const media = r.media || {};\n  return {\n    id: r.id,\n    mediaType: r.type,\n    title: media.title || media.originalTitle || null,\n    status: statusLabel(media.status),\n    requestedBy: r.requestedBy ? (r.requestedBy.displayName || r.requestedBy.email) : null,\n    createdAt: r.createdAt\n  };\n});\nmsg.payload = JSON.stringify({ total: msg.payload.pageInfo ? msg.payload.pageInfo.results : results.length, results });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 320,
    "wires": [["sr-out-get-requests"]]
  },
  {
    "id": "sr-out-get-requests",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 320,
    "wires": []
  },

  {
    "id": "sr-in-count",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Request count",
    "mcpServer": "",
    "toolName": "seerr_request_count",
    "description": "Get a quick summary of how many requests are in each state: pending approval, approved and downloading, already available, or failed.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 440,
    "wires": [["sr-fn-count-req"]]
  },
  {
    "id": "sr-fn-count-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nmsg.url = `${base}/api/v1/request/count`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 440,
    "wires": [["sr-http-count"]]
  },
  {
    "id": "sr-http-count",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/request/count",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 540,
    "y": 440,
    "wires": [["sr-fn-count-resp"]]
  },
  {
    "id": "sr-fn-count-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst c = msg.payload || {};\nmsg.payload = JSON.stringify({ pending: c.pending, approved: c.approved, available: c.available, failed: c.failed, total: c.total });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 440,
    "wires": [["sr-out-count"]]
  },
  {
    "id": "sr-out-count",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 440,
    "wires": []
  },

  {
    "id": "sr-in-get-tv",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Get TV details",
    "mcpServer": "",
    "toolName": "seerr_get_tv",
    "description": "Get detailed information about a TV show including per-season availability. Use this to check if specific seasons are already in the library before requesting. Requires the TMDB ID from seerr_search.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"tmdbId\"],\"properties\":{\"tmdbId\":{\"type\":\"integer\",\"description\":\"TMDB ID of the TV show (from seerr_search)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 130,
    "y": 560,
    "wires": [["sr-fn-get-tv-req"]]
  },
  {
    "id": "sr-fn-get-tv-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { tmdbId } = msg.payload || {};\nmsg.url = `${base}/api/v1/tv/${tmdbId}`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 560,
    "wires": [["sr-http-get-tv"]]
  },
  {
    "id": "sr-http-get-tv",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/tv/{tmdbId}",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 560,
    "wires": [["sr-fn-get-tv-resp"]]
  },
  {
    "id": "sr-fn-get-tv-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst d = msg.payload || {};\nconst statusLabel = s => ({ 1: 'unknown', 2: 'pending', 3: 'processing', 4: 'partial', 5: 'available' }[s] || 'not_requested');\nconst mediaSeasons = (d.mediaInfo && d.mediaInfo.seasons ? d.mediaInfo.seasons : []);\nconst seasons = (d.seasons || []).filter(s => s.seasonNumber > 0).map(s => {\n  const ms = mediaSeasons.find(x => x.seasonNumber === s.seasonNumber);\n  return { seasonNumber: s.seasonNumber, episodeCount: s.episodeCount, airDate: s.airDate || null, status: statusLabel(ms && ms.status) };\n});\nmsg.payload = JSON.stringify({\n  id: d.id,\n  name: d.name,\n  firstAirDate: d.firstAirDate || null,\n  overview: (d.overview || '').slice(0, 300) || null,\n  status: statusLabel(d.mediaInfo && d.mediaInfo.status),\n  poster: d.posterPath ? `https://image.tmdb.org/t/p/w300${d.posterPath}` : null,\n  seasons\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 560,
    "wires": [["sr-out-get-tv"]]
  },
  {
    "id": "sr-out-get-tv",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 560,
    "wires": []
  },

  {
    "id": "sr-in-get-movie",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Get movie details",
    "mcpServer": "",
    "toolName": "seerr_get_movie",
    "description": "Get detailed information about a movie including availability status, runtime and release date. Requires the TMDB ID from seerr_search.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"tmdbId\"],\"properties\":{\"tmdbId\":{\"type\":\"integer\",\"description\":\"TMDB ID of the movie (from seerr_search)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 130,
    "y": 680,
    "wires": [["sr-fn-get-movie-req"]]
  },
  {
    "id": "sr-fn-get-movie-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { tmdbId } = msg.payload || {};\nmsg.url = `${base}/api/v1/movie/${tmdbId}`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 680,
    "wires": [["sr-http-get-movie"]]
  },
  {
    "id": "sr-http-get-movie",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/movie/{tmdbId}",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 680,
    "wires": [["sr-fn-get-movie-resp"]]
  },
  {
    "id": "sr-fn-get-movie-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst d = msg.payload || {};\nconst statusLabel = s => ({ 1: 'unknown', 2: 'pending', 3: 'processing', 4: 'partial', 5: 'available' }[s] || 'not_requested');\nmsg.payload = JSON.stringify({\n  id: d.id,\n  title: d.title,\n  releaseDate: d.releaseDate || null,\n  runtime: d.runtime || null,\n  overview: (d.overview || '').slice(0, 300) || null,\n  status: statusLabel(d.mediaInfo && d.mediaInfo.status),\n  poster: d.posterPath ? `https://image.tmdb.org/t/p/w300${d.posterPath}` : null\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 680,
    "wires": [["sr-out-get-movie"]]
  },
  {
    "id": "sr-out-get-movie",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 680,
    "wires": []
  },

  {
    "id": "sr-in-get-season",
    "type": "hal2MCPIn",
    "z": "tab-seerr-mcp",
    "name": "Get season episodes",
    "mcpServer": "",
    "toolName": "seerr_get_season",
    "description": "Get the episode list for a specific season of a TV show, including episode numbers, titles and air dates. Use seerr_get_tv first to see which seasons exist and their overall availability, then call this to drill into a specific season.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"tmdbId\",\"seasonNumber\"],\"properties\":{\"tmdbId\":{\"type\":\"integer\",\"description\":\"TMDB ID of the TV show (from seerr_search)\"},\"seasonNumber\":{\"type\":\"integer\",\"description\":\"Season number (1, 2, 3…)\",\"minimum\":1}}}",
    "topic": "",
    "timeout": 15,
    "x": 140,
    "y": 800,
    "wires": [["sr-fn-get-season-req"]]
  },
  {
    "id": "sr-fn-get-season-req",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SEERR_URL');\nconst key = env.get('SEERR_API_KEY');\nif (!base) { node.error('SEERR_URL not set'); return null; }\nif (!key) { node.error('SEERR_API_KEY not set'); return null; }\nconst { tmdbId, seasonNumber } = msg.payload || {};\nmsg.url = `${base}/api/v1/tv/${tmdbId}/season/${seasonNumber}`;\nmsg.method = 'GET';\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 800,
    "wires": [["sr-http-get-season"]]
  },
  {
    "id": "sr-http-get-season",
    "type": "http request",
    "z": "tab-seerr-mcp",
    "name": "GET /api/v1/tv/{tmdbId}/season/{n}",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 550,
    "y": 800,
    "wires": [["sr-fn-get-season-resp"]]
  },
  {
    "id": "sr-fn-get-season-resp",
    "type": "function",
    "z": "tab-seerr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst d = msg.payload || {};\nconst episodes = (d.episodes || []).map(e => ({\n  episodeNumber: e.episodeNumber,\n  title: e.name || null,\n  airDate: e.airDate || null,\n  overview: (e.overview || '').slice(0, 150) || null\n}));\nmsg.payload = JSON.stringify({\n  seasonNumber: d.seasonNumber,\n  airDate: d.airDate || null,\n  episodeCount: episodes.length,\n  episodes\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 800,
    "wires": [["sr-out-get-season"]]
  },
  {
    "id": "sr-out-get-season",
    "type": "hal2MCPOut",
    "z": "tab-seerr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 800,
    "wires": []
  }
]
