examples/shelly_mqtt_example_dimmer.json
[
    {
        "id": "010f7a25face256d",
        "type": "mqtt in",
        "z": "797bdc9088052f14",
        "name": "Shellies",
        "topic": "shellies/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "0bbee397c221db0f"
            ]
        ]
    },
    {
        "id": "407f0a77e37ee378",
        "type": "mqtt out",
        "z": "797bdc9088052f14",
        "name": "Send command",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "0bbee397c221db0f",
        "type": "hal2Thing",
        "z": "797bdc9088052f14",
        "eventHandler": "e228014191d14be6",
        "thingType": "1e1c3906e6516d79",
        "name": "Shelly Example Dimmer",
        "attributes": [],
        "topicFilter": "shellies/example-dimmer/#",
        "topicFilterType": "mqtt",
        "topicPrefix": "shellies/example-dimmer",
        "notes": "Shelly Example Dimmer",
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "407f0a77e37ee378"
            ]
        ]
    },
    {
        "id": "e228014191d14be6",
        "type": "hal2EventHandler",
        "name": "Event handler",
        "maxlisteners": "50",
        "heartbeat": "10"
    },
    {
        "id": "1e1c3906e6516d79",
        "type": "hal2ThingType",
        "name": "Shelly Dimmer",
        "contextStore": "filesystem",
        "nodestatus": "💡 %On% (%Light%%, %Power%w) 🌡 %Temperature%°C",
        "items": [
            {
                "name": "Light",
                "id": "263efd12.ebadc2",
                "topicFilterType": "str",
                "topicFilterValue": "./light/0/status",
                "topicSuffix": "./light/0/set",
                "type": "both",
                "ingress": "8578e85.3e1c818",
                "egress": "1e22702a.e2dda",
                "notes": ""
            },
            {
                "name": "On",
                "id": "1277beca.e104c1",
                "topicFilterType": "str",
                "topicFilterValue": "./light/0",
                "topicSuffix": "",
                "type": "status",
                "ingress": "901a0bc6.18bc08",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Power",
                "id": "c0018865.1b7b08",
                "topicFilterType": "str",
                "topicFilterValue": "./light/0/power",
                "topicSuffix": "",
                "type": "status",
                "ingress": "86be0db5.dd2ed",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Energy",
                "id": "a564948.c4d1268",
                "topicFilterType": "str",
                "topicFilterValue": "./light/0/energy",
                "topicSuffix": "",
                "type": "status",
                "ingress": "86be0db5.dd2ed",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Temperature",
                "id": "b7f93f6b.9b08a",
                "topicFilterType": "str",
                "topicFilterValue": "./temperature",
                "topicSuffix": "",
                "type": "status",
                "ingress": "86be0db5.dd2ed",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Temperature F",
                "id": "5c715706.e37b28",
                "topicFilterType": "str",
                "topicFilterValue": "./temperature_f",
                "topicSuffix": "",
                "type": "status",
                "ingress": "86be0db5.dd2ed",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Overtemperature",
                "id": "ad69c202.fdc4b",
                "topicFilterType": "str",
                "topicFilterValue": "./overtemperature",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Overload",
                "id": "384768d4.e0b758",
                "topicFilterType": "str",
                "topicFilterValue": "./overload",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Loaderror",
                "id": "1d448440.2fa6dc",
                "topicFilterType": "str",
                "topicFilterValue": "./loaderror",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Overpower",
                "id": "a7f51ce.8e903e",
                "topicFilterType": "str",
                "topicFilterValue": "./overpower",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Input0",
                "id": "f4a314ff.6c3a08",
                "topicFilterType": "str",
                "topicFilterValue": "./input/0",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Input1",
                "id": "dc7938f5.54e5d8",
                "topicFilterType": "str",
                "topicFilterValue": "./input/1",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "Longpush0",
                "id": "98ecd600.c06818",
                "topicFilterType": "str",
                "topicFilterValue": "./longpush/0",
                "topicSuffix": "",
                "type": "status",
                "ingress": "8174405d.73715",
                "egress": "85d0ee82.73dd4",
                "notes": ""
            },
            {
                "name": "New Firmware",
                "id": "cb8d6c4c.70557",
                "topicFilterType": "str",
                "topicFilterValue": "./announce",
                "topicSuffix": "./command",
                "type": "both",
                "ingress": "d8775511.473998",
                "egress": "51086fa9.8560b",
                "notes": ""
            },
            {
                "name": "Alive",
                "id": "1",
                "topicFilterType": "str",
                "topicFilterValue": "./online",
                "topicSuffix": "",
                "readOnly": true,
                "ingress": "439256ab.688988",
                "egress": ""
            }
        ],
        "attributes": [],
        "ingress": [
            {
                "name": "Convert to Number",
                "id": "86be0db5.dd2ed",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = Number(msg.payload);\nreturn msg.payload;"
            },
            {
                "name": "Convert to Boolean",
                "id": "439256ab.688988",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = (msg.payload === 'true');\nreturn msg.payload;"
            },
            {
                "name": "Number to Boolean",
                "id": "8174405d.73715",
                "fn": "// msg & attribute objects are\n// passed to function\n\nif (typeof msg.payload == 'number') {\n    msg.payload = (msg.payload == 1);\n} else {\n    msg.payload = (msg.payload == '1');\n}\nreturn msg.payload;"
            },
            {
                "name": "Shelly IsOn",
                "id": "901a0bc6.18bc08",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = (msg.payload == 'on');\nreturn msg.payload;"
            },
            {
                "name": "Shelly Brightness",
                "id": "8578e85.3e1c818",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = JSON.parse(msg.payload).brightness;\nreturn msg.payload;"
            },
            {
                "name": "Shelly New Firmware",
                "id": "d8775511.473998",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = JSON.parse(msg.payload).new_fw;\nreturn msg.payload;"
            }
        ],
        "egress": [
            {
                "name": "Pass-through",
                "id": "85d0ee82.73dd4",
                "fn": "// msg & attribute objects are\n// passed to function\n\nreturn msg;"
            },
            {
                "name": "Shelly Set Brightness",
                "id": "1e22702a.e2dda",
                "fn": "// msg & attribute objects are\n// passed to function\n\nvar payload;\n\nswitch (typeof msg.payload) {\n    case \"boolean\":\n        payload = msg.payload ? '{\"turn\":\"on\",\"brightness\":100}' : '{\"turn\":\"off\"}';\n        break;\n    case \"number\":\n        if (msg.payload > 0) {\n            payload = {\n                \"turn\": \"on\",\n                \"brightness\": msg.payload\n            }\n        } else {\n            payload = {\n                \"turn\": \"off\",\n                \"brightness\": 0\n            }\n        }\n        break;\n}\nmsg.payload = payload;\nreturn msg;"
            },
            {
                "name": "Shelly Update Firmware",
                "id": "51086fa9.8560b",
                "fn": "// msg & attribute objects are\n// passed to function\n\nmsg.payload = \"update_fw\";\nreturn msg;"
            }
        ],
        "thingStatus": true,
        "thingCommand": true,
        "hbCheck": true,
        "hbType": "lwt",
        "hbTTL": "",
        "hbLWT": "439256ab.688988",
        "hbFilterVal": "./online",
        "hbFilterType": "str",
        "filterFunction": "0"
    }
]