examples/sonarr-mcp.json
[
  {
    "id": "tab-sonarr-mcp",
    "type": "tab",
    "label": "Sonarr MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "snr-in-series",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get series",
    "mcpServer": "",
    "toolName": "sonarr_get_series",
    "description": "Get all series tracked by Sonarr. Pass series_id for details on a single series. Returns title, year, status, monitored state, season count and episode counts.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"series_id\":{\"type\":\"number\",\"description\":\"Sonarr series ID (omit for all series)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 80,
    "wires": [["snr-fn-series-req"]]
  },
  {
    "id": "snr-fn-series-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { series_id } = msg.payload || {};\nmsg.url = series_id != null ? `${base}/api/v3/series/${series_id}` : `${base}/api/v3/series`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["snr-http-series"]]
  },
  {
    "id": "snr-http-series",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/series",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 80,
    "wires": [["snr-fn-series-resp"]]
  },
  {
    "id": "snr-fn-series-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nconst arr = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\nmsg.payload = JSON.stringify(arr.map(s => ({\n  id: s.id,\n  title: s.title,\n  year: s.year,\n  status: s.status,\n  monitored: s.monitored,\n  network: s.network,\n  seasonCount: s.seasons ? s.seasons.filter(x => x.seasonNumber > 0).length : null,\n  episodeCount: s.episodeCount,\n  episodeFileCount: s.episodeFileCount,\n  tvdbId: s.tvdbId,\n  path: s.path\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 80,
    "wires": [["snr-out-series"]]
  },
  {
    "id": "snr-out-series",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 80,
    "wires": []
  },

  {
    "id": "snr-in-lookup",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Lookup series",
    "mcpServer": "",
    "toolName": "sonarr_lookup_series",
    "description": "Search TVDB for a series by name. Returns candidates with tvdbId, title, year, network and overview. Use tvdbId with sonarr_add_series to add a series to Sonarr.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"term\"],\"properties\":{\"term\":{\"type\":\"string\",\"description\":\"Series title to search for\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 200,
    "wires": [["snr-fn-lookup-req"]]
  },
  {
    "id": "snr-fn-lookup-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { term } = msg.payload;\nmsg.url = `${base}/api/v3/series/lookup?term=${encodeURIComponent(term)}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["snr-http-lookup"]]
  },
  {
    "id": "snr-http-lookup",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/series/lookup",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 530,
    "y": 200,
    "wires": [["snr-fn-lookup-resp"]]
  },
  {
    "id": "snr-fn-lookup-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nconst results = (Array.isArray(msg.payload) ? msg.payload : []).slice(0, 10);\nmsg.payload = JSON.stringify(results.map(s => ({\n  tvdbId: s.tvdbId,\n  title: s.title,\n  year: s.year,\n  status: s.status,\n  network: s.network,\n  seasonCount: s.seasons ? s.seasons.filter(x => x.seasonNumber > 0).length : null,\n  overview: s.overview ? s.overview.slice(0, 300) : null,\n  remotePoster: s.remotePoster || null\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [["snr-out-lookup"]]
  },
  {
    "id": "snr-out-lookup",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 200,
    "wires": []
  },

  {
    "id": "snr-in-add",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Add series",
    "mcpServer": "",
    "toolName": "sonarr_add_series",
    "description": "Add a series to Sonarr for monitoring and download. Use tvdbId from sonarr_lookup_series. Quality profile and root folder are auto-detected from Sonarr configuration if not specified.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"tvdb_id\"],\"properties\":{\"tvdb_id\":{\"type\":\"number\",\"description\":\"TVDB ID from sonarr_lookup_series\"},\"quality_profile_id\":{\"type\":\"number\",\"description\":\"Quality profile ID (optional, uses first available)\"},\"root_folder_path\":{\"type\":\"string\",\"description\":\"Root folder path (optional, uses first available)\"},\"search_on_add\":{\"type\":\"boolean\",\"description\":\"Search for missing episodes immediately after adding (default true)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 320,
    "wires": [["snr-fn-add-req"]]
  },
  {
    "id": "snr-fn-add-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { tvdb_id, quality_profile_id, root_folder_path, search_on_add } = msg.payload;\n\nconst fetchJson = (path) => new Promise((resolve, reject) => {\n  const u = new URL(`${base}${path}`);\n  const req = http.request({\n    hostname: u.hostname,\n    port: parseInt(u.port) || 80,\n    path: u.pathname + u.search,\n    method: 'GET',\n    headers: { 'X-Api-Key': key }\n  }, res => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { reject(e); } });\n  });\n  req.on('error', reject);\n  req.setTimeout(5000, () => { req.destroy(); reject(new Error('timeout')); });\n  req.end();\n});\n\nconst [lookup, rootFolders, qualityProfiles] = await Promise.all([\n  fetchJson(`/api/v3/series/lookup?term=tvdb:${tvdb_id}`),\n  fetchJson('/api/v3/rootfolder'),\n  fetchJson('/api/v3/qualityprofile')\n]);\n\nconst seriesTemplate = Array.isArray(lookup) ? lookup[0] : null;\nif (!seriesTemplate) { node.error('Series not found for TVDB ID: ' + tvdb_id); return null; }\n\nconst qpId = quality_profile_id || (qualityProfiles[0] ? qualityProfiles[0].id : null);\nconst rfPath = root_folder_path || (rootFolders[0] ? rootFolders[0].path : null);\nif (!qpId || !rfPath) { node.error('No quality profile or root folder configured in Sonarr'); return null; }\n\nseriesTemplate.qualityProfileId = qpId;\nseriesTemplate.rootFolderPath = rfPath;\nseriesTemplate.monitored = true;\nseriesTemplate.addOptions = { searchForMissingEpisodes: search_on_add !== false };\n\nmsg.url = `${base}/api/v3/series`;\nmsg.headers = { 'X-Api-Key': key, 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify(seriesTemplate);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "http", "module": "http"}],
    "x": 320,
    "y": 320,
    "wires": [["snr-http-add"]]
  },
  {
    "id": "snr-http-add",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "POST /api/v3/series",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 320,
    "wires": [["snr-fn-add-resp"]]
  },
  {
    "id": "snr-fn-add-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}`, detail: typeof msg.payload === 'object' ? msg.payload : {} }; return msg; }\nconst s = msg.payload;\nmsg.payload = JSON.stringify({ success: true, id: s.id, title: s.title, year: s.year, tvdbId: s.tvdbId, path: s.path, qualityProfileId: s.qualityProfileId });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 320,
    "wires": [["snr-out-add"]]
  },
  {
    "id": "snr-out-add",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 320,
    "wires": []
  },

  {
    "id": "snr-in-calendar",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get calendar",
    "mcpServer": "",
    "toolName": "sonarr_get_calendar",
    "description": "Get upcoming episodes from Sonarr. Defaults to the next 7 days. Returns series title, episode title, season/episode number, air date and whether the file is already downloaded.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"start_date\":{\"type\":\"string\",\"description\":\"Start date ISO format YYYY-MM-DD (default today)\"},\"end_date\":{\"type\":\"string\",\"description\":\"End date ISO format YYYY-MM-DD (default 7 days from now)\"},\"unmonitored\":{\"type\":\"boolean\",\"description\":\"Include unmonitored episodes (default false)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 440,
    "wires": [["snr-fn-calendar-req"]]
  },
  {
    "id": "snr-fn-calendar-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { start_date, end_date, unmonitored } = msg.payload || {};\nconst start = start_date || new Date().toISOString().split('T')[0];\nconst end = end_date || new Date(Date.now() + 7 * 86400000).toISOString().split('T')[0];\nconst params = new URLSearchParams({ start, end, includeSeries: 'true', includeEpisodeFile: 'true' });\nif (unmonitored) params.set('unmonitored', 'true');\nmsg.url = `${base}/api/v3/calendar?${params}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 440,
    "wires": [["snr-http-calendar"]]
  },
  {
    "id": "snr-http-calendar",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/calendar",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 440,
    "wires": [["snr-fn-calendar-resp"]]
  },
  {
    "id": "snr-fn-calendar-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nmsg.payload = JSON.stringify((Array.isArray(msg.payload) ? msg.payload : []).map(ep => ({\n  seriesTitle: ep.series ? ep.series.title : null,\n  episodeTitle: ep.title,\n  seasonNumber: ep.seasonNumber,\n  episodeNumber: ep.episodeNumber,\n  airDateUtc: ep.airDateUtc,\n  hasFile: ep.hasFile,\n  monitored: ep.monitored\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 440,
    "wires": [["snr-out-calendar"]]
  },
  {
    "id": "snr-out-calendar",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 440,
    "wires": []
  },

  {
    "id": "snr-in-queue",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get queue",
    "mcpServer": "",
    "toolName": "sonarr_get_queue",
    "description": "Get the current Sonarr download queue. Returns series title, episode, download status, time left and file size.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 560,
    "wires": [["snr-fn-queue-req"]]
  },
  {
    "id": "snr-fn-queue-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst params = new URLSearchParams({ pageSize: '50', includeSeries: 'true', includeEpisode: 'true' });\nmsg.url = `${base}/api/v3/queue?${params}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 560,
    "wires": [["snr-http-queue"]]
  },
  {
    "id": "snr-http-queue",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/queue",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 560,
    "wires": [["snr-fn-queue-resp"]]
  },
  {
    "id": "snr-fn-queue-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = { error: `HTTP ${msg.statusCode}` }; return msg; }\nconst records = msg.payload.records || [];\nmsg.payload = JSON.stringify(records.map(r => ({\n  id: r.id,\n  seriesTitle: r.series ? r.series.title : null,\n  episodeTitle: r.episode ? r.episode.title : null,\n  seasonNumber: r.episode ? r.episode.seasonNumber : null,\n  episodeNumber: r.episode ? r.episode.episodeNumber : null,\n  quality: r.quality ? r.quality.quality.name : null,\n  status: r.status,\n  trackedDownloadState: r.trackedDownloadState,\n  timeleft: r.timeleft || null,\n  size: r.size,\n  sizeleft: r.sizeleft\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 560,
    "wires": [["snr-out-queue"]]
  },
  {
    "id": "snr-out-queue",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 560,
    "wires": []
  }
]
