examples/sonarr-mcp.json
[
  {
    "id": "tab-sonarr-mcp",
    "type": "tab",
    "label": "Sonarr MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "snr-in-series",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get series",
    "mcpServer": "",
    "toolName": "sonarr_get_series",
    "description": "Get all TV series tracked by Sonarr, or details for a single series by its Sonarr ID. Returns title, year, status, monitored state, season count and episode counts. Use the returned id (Sonarr series ID) with sonarr_get_episodes to check episode availability.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"series_id\":{\"type\":\"number\",\"description\":\"Sonarr series ID (omit for all series)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 80,
    "wires": [["snr-fn-series-req"]]
  },
  {
    "id": "snr-fn-series-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { series_id } = msg.payload || {};\nmsg.url = series_id != null ? `${base}/api/v3/series/${series_id}` : `${base}/api/v3/series`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["snr-http-series"]]
  },
  {
    "id": "snr-http-series",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/series",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 80,
    "wires": [["snr-fn-series-resp"]]
  },
  {
    "id": "snr-fn-series-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst arr = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\nmsg.payload = JSON.stringify(arr.map(s => ({\n  id: s.id,\n  title: s.title,\n  year: s.year,\n  status: s.status,\n  monitored: s.monitored,\n  network: s.network,\n  seasonCount: s.seasons ? s.seasons.filter(x => x.seasonNumber > 0).length : null,\n  episodeCount: s.episodeCount,\n  episodeFileCount: s.episodeFileCount,\n  tvdbId: s.tvdbId,\n  path: s.path\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 80,
    "wires": [["snr-out-series"]]
  },
  {
    "id": "snr-out-series",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 80,
    "wires": []
  },

  {
    "id": "snr-in-episodes",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get episodes",
    "mcpServer": "",
    "toolName": "sonarr_get_episodes",
    "description": "Get episodes for a series tracked by Sonarr. Returns episode number, title, air date and hasFile (true = episode is downloaded and available). Use sonarr_get_series first to find the Sonarr series ID. Optionally filter by season number.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"series_id\"],\"properties\":{\"series_id\":{\"type\":\"number\",\"description\":\"Sonarr series ID from sonarr_get_series\"},\"season_number\":{\"type\":\"number\",\"description\":\"Season number to filter by (omit for all seasons)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 200,
    "wires": [["snr-fn-episodes-req"]]
  },
  {
    "id": "snr-fn-episodes-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { series_id, season_number } = msg.payload || {};\nconst params = new URLSearchParams({ seriesId: String(series_id) });\nif (season_number != null) params.set('seasonNumber', String(season_number));\nmsg.url = `${base}/api/v3/episode?${params}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [["snr-http-episodes"]]
  },
  {
    "id": "snr-http-episodes",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/episode",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 200,
    "wires": [["snr-fn-episodes-resp"]]
  },
  {
    "id": "snr-fn-episodes-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst arr = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload = JSON.stringify(arr.map(e => ({\n  seasonNumber: e.seasonNumber,\n  episodeNumber: e.episodeNumber,\n  title: e.title,\n  airDate: e.airDate || null,\n  hasFile: e.hasFile,\n  monitored: e.monitored\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [["snr-out-episodes"]]
  },
  {
    "id": "snr-out-episodes",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 200,
    "wires": []
  },

  {
    "id": "snr-in-calendar",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get calendar",
    "mcpServer": "",
    "toolName": "sonarr_get_calendar",
    "description": "Get upcoming episodes from Sonarr. Defaults to the next 7 days. Returns series title, episode title, season/episode number, air date and whether the file is already downloaded.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"start_date\":{\"type\":\"string\",\"description\":\"Start date ISO format YYYY-MM-DD (default today)\"},\"end_date\":{\"type\":\"string\",\"description\":\"End date ISO format YYYY-MM-DD (default 7 days from now)\"},\"unmonitored\":{\"type\":\"boolean\",\"description\":\"Include unmonitored episodes (default false)\"}}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 320,
    "wires": [["snr-fn-calendar-req"]]
  },
  {
    "id": "snr-fn-calendar-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst { start_date, end_date, unmonitored } = msg.payload || {};\nconst start = start_date || new Date().toISOString().split('T')[0];\nconst end = end_date || new Date(Date.now() + 7 * 86400000).toISOString().split('T')[0];\nconst params = new URLSearchParams({ start, end, includeSeries: 'true', includeEpisodeFile: 'true' });\nif (unmonitored) params.set('unmonitored', 'true');\nmsg.url = `${base}/api/v3/calendar?${params}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 320,
    "wires": [["snr-http-calendar"]]
  },
  {
    "id": "snr-http-calendar",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/calendar",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 320,
    "wires": [["snr-fn-calendar-resp"]]
  },
  {
    "id": "snr-fn-calendar-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nmsg.payload = JSON.stringify((Array.isArray(msg.payload) ? msg.payload : []).map(ep => ({\n  seriesTitle: ep.series ? ep.series.title : null,\n  episodeTitle: ep.title,\n  seasonNumber: ep.seasonNumber,\n  episodeNumber: ep.episodeNumber,\n  airDateUtc: ep.airDateUtc,\n  hasFile: ep.hasFile,\n  monitored: ep.monitored\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 320,
    "wires": [["snr-out-calendar"]]
  },
  {
    "id": "snr-out-calendar",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 320,
    "wires": []
  },

  {
    "id": "snr-in-queue",
    "type": "hal2MCPIn",
    "z": "tab-sonarr-mcp",
    "name": "Get queue",
    "mcpServer": "",
    "toolName": "sonarr_get_queue",
    "description": "Get the current Sonarr download queue. Returns series title, episode, download status, time left and file size.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 30,
    "x": 120,
    "y": 440,
    "wires": [["snr-fn-queue-req"]]
  },
  {
    "id": "snr-fn-queue-req",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Build request",
    "func": "const base = env.get('SONARR_URL');\nconst key = env.get('SONARR_API_KEY');\nif (!key) { node.error('SONARR_API_KEY not set'); return null; }\nconst params = new URLSearchParams({ pageSize: '50', includeSeries: 'true', includeEpisode: 'true' });\nmsg.url = `${base}/api/v3/queue?${params}`;\nmsg.headers = { 'X-Api-Key': key };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 440,
    "wires": [["snr-http-queue"]]
  },
  {
    "id": "snr-http-queue",
    "type": "http request",
    "z": "tab-sonarr-mcp",
    "name": "GET /api/v3/queue",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 510,
    "y": 440,
    "wires": [["snr-fn-queue-resp"]]
  },
  {
    "id": "snr-fn-queue-resp",
    "type": "function",
    "z": "tab-sonarr-mcp",
    "name": "Format response",
    "func": "if (msg.statusCode >= 400) { msg.payload = JSON.stringify({ error: `HTTP ${msg.statusCode}` }); return msg; }\nconst records = msg.payload.records || [];\nmsg.payload = JSON.stringify(records.map(r => ({\n  id: r.id,\n  seriesTitle: r.series ? r.series.title : null,\n  episodeTitle: r.episode ? r.episode.title : null,\n  seasonNumber: r.episode ? r.episode.seasonNumber : null,\n  episodeNumber: r.episode ? r.episode.episodeNumber : null,\n  quality: r.quality ? r.quality.quality.name : null,\n  status: r.status,\n  trackedDownloadState: r.trackedDownloadState,\n  timeleft: r.timeleft || null,\n  size: r.size,\n  sizeleft: r.sizeleft\n})));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 440,
    "wires": [["snr-out-queue"]]
  },
  {
    "id": "snr-out-queue",
    "type": "hal2MCPOut",
    "z": "tab-sonarr-mcp",
    "name": "",
    "mcpServer": "",
    "x": 920,
    "y": 440,
    "wires": []
  }
]
