examples/spotify-mcp.json
[
  {
    "id": "tab-spotify-oauth",
    "type": "tab",
    "label": "Spotify OAuth",
    "disabled": false,
    "info": ""
  },
  {
    "id": "sp-auth-in",
    "type": "http in",
    "z": "tab-spotify-oauth",
    "name": "GET /spotify/auth",
    "url": "/spotify/auth",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["sp-fn-auth"]]
  },
  {
    "id": "sp-fn-auth",
    "type": "function",
    "z": "tab-spotify-oauth",
    "name": "Build auth URL",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst REDIRECT_URI = env.get('SPOTIFY_REDIRECT_URI');\nconst SCOPES = 'user-read-playback-state user-modify-playback-state user-read-currently-playing';\nconst params = new URLSearchParams({ response_type: 'code', client_id: CLIENT_ID, scope: SCOPES, redirect_uri: REDIRECT_URI });\nmsg.statusCode = 302;\nmsg.headers = { Location: 'https://accounts.spotify.com/authorize?' + params.toString() };\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 80,
    "wires": [["sp-auth-resp"]]
  },
  {
    "id": "sp-auth-resp",
    "type": "http response",
    "z": "tab-spotify-oauth",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 80,
    "wires": []
  },
  {
    "id": "sp-cb-in",
    "type": "http in",
    "z": "tab-spotify-oauth",
    "name": "GET /spotify/callback",
    "url": "/spotify/callback",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 200,
    "wires": [["sp-fn-cb"]]
  },
  {
    "id": "sp-fn-cb",
    "type": "function",
    "z": "tab-spotify-oauth",
    "name": "Exchange code → save tokens",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst REDIRECT_URI = env.get('SPOTIFY_REDIRECT_URI');\nconst code = msg.req.query.code;\nconst error = msg.req.query.error;\nif (error) { msg.statusCode = 400; msg.payload = 'Spotify auth error: ' + error; return msg; }\nif (!code) { msg.statusCode = 400; msg.payload = 'Missing code'; return msg; }\nconst body = 'grant_type=authorization_code&code=' + encodeURIComponent(code) + '&redirect_uri=' + encodeURIComponent(REDIRECT_URI);\nconst auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\nconst data = await new Promise((resolve, reject) => {\n    const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let d = ''; res.on('data', c => d += c); res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { reject(e); } }); });\n    req.on('error', reject); req.write(body); req.end();\n});\nif (!data.access_token) { msg.statusCode = 400; msg.payload = 'Token exchange failed: ' + JSON.stringify(data); return msg; }\nglobal.set('spotifyTokens', { access_token: data.access_token, refresh_token: data.refresh_token, expires_at: Date.now() + data.expires_in * 1000 });\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'text/html' };\nmsg.payload = '<!doctype html><html><body><h1>Spotify connected!</h1><p>You can close this window.</p></body></html>';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 380,
    "y": 200,
    "wires": [["sp-cb-resp"]]
  },
  {
    "id": "sp-cb-resp",
    "type": "http response",
    "z": "tab-spotify-oauth",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 200,
    "wires": []
  },

  {
    "id": "tab-spotify-mcp",
    "type": "tab",
    "label": "Spotify MCP",
    "disabled": false,
    "info": ""
  },

  {
    "id": "sp-in-now",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Now playing",
    "eventHandler": "",
    "toolName": "spotify_now_playing",
    "description": "Get what is currently playing on Spotify. Returns track, artist, album, device, progress and playback state.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 80,
    "wires": [["sp-fn-now"]]
  },
  {
    "id": "sp-fn-now",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Get current player state",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst token = await getToken();\nconst r = await apiReq('GET', token, '/v1/me/player');\nif (r.status === 204 || !r.body) { msg.payload = { playing: false, message: 'Nothing currently playing' }; return msg; }\nif (r.status >= 400) { msg.payload = { error: 'HTTP ' + r.status + ': ' + JSON.stringify(r.body) }; return msg; }\nconst p = r.body;\nconst item = p.item;\nmsg.payload = {\n    playing: p.is_playing,\n    track: item ? item.name : null,\n    artist: item ? item.artists.map(a => a.name).join(', ') : null,\n    album: item && item.album ? item.album.name : null,\n    progress_ms: p.progress_ms,\n    duration_ms: item ? item.duration_ms : null,\n    device: p.device ? { name: p.device.name, id: p.device.id, type: p.device.type, volume: p.device.volume_percent } : null,\n    shuffle: p.shuffle_state,\n    repeat: p.repeat_state,\n    uri: item ? item.uri : null\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 80,
    "wires": [["sp-out-now"]]
  },
  {
    "id": "sp-out-now",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 80,
    "wires": []
  },

  {
    "id": "sp-in-play",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Play",
    "eventHandler": "",
    "toolName": "spotify_play",
    "description": "Search for and play music on Spotify. Searches for the best match (track first, then album/playlist) and starts playback. Optionally target a specific device.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"Search query — artist, song, album or playlist name\"},\"type\":{\"type\":\"string\",\"enum\":[\"track\",\"album\",\"playlist\",\"artist\"],\"description\":\"Content type to search for (default: searches track, album and playlist)\"},\"uri\":{\"type\":\"string\",\"description\":\"Spotify URI (e.g. spotify:track:xxx) — bypasses search and plays directly\"},\"device_id\":{\"type\":\"string\",\"description\":\"Target device ID from spotify_get_devices — uses active device if omitted\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 200,
    "wires": [["sp-fn-play"]]
  },
  {
    "id": "sp-fn-play",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Search + play",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { query, type, device_id, uri } = msg.payload;\nconst token = await getToken();\nlet playUri = uri || null;\nlet playName = uri || null;\nif (!playUri) {\n    if (!query) { msg.payload = { error: 'Provide query or uri' }; return msg; }\n    const searchType = type ? type : 'track,album,playlist';\n    const params = new URLSearchParams({ q: query, type: searchType, limit: '3', market: 'SE' });\n    const sr = await apiReq('GET', token, '/v1/search?' + params);\n    if (sr.status >= 400) { msg.payload = { error: 'Search failed: HTTP ' + sr.status }; return msg; }\n    const res = sr.body;\n    if (res.tracks && res.tracks.items && res.tracks.items.length) {\n        playUri = res.tracks.items[0].uri;\n        playName = res.tracks.items[0].name + ' — ' + res.tracks.items[0].artists.map(a => a.name).join(', ');\n    } else if (res.albums && res.albums.items && res.albums.items.length) {\n        playUri = res.albums.items[0].uri;\n        playName = res.albums.items[0].name + ' (album)';\n    } else if (res.playlists && res.playlists.items && res.playlists.items.length) {\n        playUri = res.playlists.items[0].uri;\n        playName = res.playlists.items[0].name + ' (playlist)';\n    } else {\n        msg.payload = { error: 'Nothing found for: ' + query };\n        return msg;\n    }\n}\nconst isTrack = playUri.startsWith('spotify:track:') || playUri.startsWith('spotify:episode:');\nconst playBody = isTrack ? { uris: [playUri] } : { context_uri: playUri };\nconst path = '/v1/me/player/play' + (device_id ? '?device_id=' + encodeURIComponent(device_id) : '');\nconst pr = await apiReq('PUT', token, path, playBody);\nif (pr.status >= 400) { msg.payload = { error: 'Play failed: HTTP ' + pr.status + ' — ' + JSON.stringify(pr.body) }; return msg; }\nmsg.payload = { success: true, playing: playName, uri: playUri };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 200,
    "wires": [["sp-out-play"]]
  },
  {
    "id": "sp-out-play",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 200,
    "wires": []
  },

  {
    "id": "sp-in-pause",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Pause",
    "eventHandler": "",
    "toolName": "spotify_pause",
    "description": "Pause Spotify playback on the active device.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 320,
    "wires": [["sp-fn-pause"]]
  },
  {
    "id": "sp-fn-pause",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Pause",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst token = await getToken();\nconst r = await apiReq('PUT', token, '/v1/me/player/pause');\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status + ' — ' + JSON.stringify(r.body) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 320,
    "wires": [["sp-out-pause"]]
  },
  {
    "id": "sp-out-pause",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 320,
    "wires": []
  },

  {
    "id": "sp-in-resume",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Resume",
    "eventHandler": "",
    "toolName": "spotify_resume",
    "description": "Resume Spotify playback. Optionally specify a device to resume on.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{\"device_id\":{\"type\":\"string\",\"description\":\"Target device ID from spotify_get_devices (optional)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 440,
    "wires": [["sp-fn-resume"]]
  },
  {
    "id": "sp-fn-resume",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Resume",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { device_id } = msg.payload || {};\nconst token = await getToken();\nconst path = '/v1/me/player/play' + (device_id ? '?device_id=' + encodeURIComponent(device_id) : '');\nconst r = await apiReq('PUT', token, path, {});\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status + ' — ' + JSON.stringify(r.body) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 440,
    "wires": [["sp-out-resume"]]
  },
  {
    "id": "sp-out-resume",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 440,
    "wires": []
  },

  {
    "id": "sp-in-next",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Next track",
    "eventHandler": "",
    "toolName": "spotify_next",
    "description": "Skip to the next track in the Spotify queue.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 560,
    "wires": [["sp-fn-next"]]
  },
  {
    "id": "sp-fn-next",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Next track",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst token = await getToken();\nconst r = await apiReq('POST', token, '/v1/me/player/next');\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 560,
    "wires": [["sp-out-next"]]
  },
  {
    "id": "sp-out-next",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 560,
    "wires": []
  },

  {
    "id": "sp-in-prev",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Previous track",
    "eventHandler": "",
    "toolName": "spotify_previous",
    "description": "Go back to the previous track in Spotify.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 680,
    "wires": [["sp-fn-prev"]]
  },
  {
    "id": "sp-fn-prev",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Previous track",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst token = await getToken();\nconst r = await apiReq('POST', token, '/v1/me/player/previous');\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 680,
    "wires": [["sp-out-prev"]]
  },
  {
    "id": "sp-out-prev",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 680,
    "wires": []
  },

  {
    "id": "sp-in-devices",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Get devices",
    "eventHandler": "",
    "toolName": "spotify_get_devices",
    "description": "List all available Spotify Connect devices (speakers, phones, computers, Apple TV etc). Returns device IDs needed for spotify_play and spotify_transfer.",
    "inputSchema": "{\"type\":\"object\",\"properties\":{}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 800,
    "wires": [["sp-fn-devices"]]
  },
  {
    "id": "sp-fn-devices",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "List devices",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst token = await getToken();\nconst r = await apiReq('GET', token, '/v1/me/player/devices');\nif (r.status >= 400) { msg.payload = { error: 'HTTP ' + r.status }; return msg; }\nmsg.payload = { devices: (r.body && r.body.devices ? r.body.devices : []).map(d => ({ id: d.id, name: d.name, type: d.type, is_active: d.is_active, volume: d.volume_percent, is_restricted: d.is_restricted })) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 800,
    "wires": [["sp-out-devices"]]
  },
  {
    "id": "sp-out-devices",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 800,
    "wires": []
  },

  {
    "id": "sp-in-transfer",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Transfer playback",
    "eventHandler": "",
    "toolName": "spotify_transfer",
    "description": "Transfer Spotify playback to a different device. Use spotify_get_devices to find device IDs.",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"device_id\"],\"properties\":{\"device_id\":{\"type\":\"string\",\"description\":\"Target device ID from spotify_get_devices\"},\"play\":{\"type\":\"boolean\",\"description\":\"Start playing immediately on transfer (default: true)\"}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 920,
    "wires": [["sp-fn-transfer"]]
  },
  {
    "id": "sp-fn-transfer",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Transfer playback",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { device_id, play } = msg.payload;\nif (!device_id) { msg.payload = { error: 'device_id required — use spotify_get_devices to list available devices' }; return msg; }\nconst token = await getToken();\nconst r = await apiReq('PUT', token, '/v1/me/player', { device_ids: [device_id], play: play !== false });\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status + ' — ' + JSON.stringify(r.body) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 920,
    "wires": [["sp-out-transfer"]]
  },
  {
    "id": "sp-out-transfer",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 920,
    "wires": []
  },

  {
    "id": "sp-in-volume",
    "type": "hal2MCPIn",
    "z": "tab-spotify-mcp",
    "name": "Set volume",
    "eventHandler": "",
    "toolName": "spotify_set_volume",
    "description": "Set the volume on the active Spotify device (0-100).",
    "inputSchema": "{\"type\":\"object\",\"required\":[\"volume\"],\"properties\":{\"volume\":{\"type\":\"integer\",\"description\":\"Volume level 0-100\",\"minimum\":0,\"maximum\":100}}}",
    "topic": "",
    "timeout": 15,
    "x": 120,
    "y": 1040,
    "wires": [["sp-fn-volume"]]
  },
  {
    "id": "sp-fn-volume",
    "type": "function",
    "z": "tab-spotify-mcp",
    "name": "Set volume",
    "func": "const CLIENT_ID = env.get('SPOTIFY_CLIENT_ID');\nconst CLIENT_SECRET = env.get('SPOTIFY_CLIENT_SECRET');\nconst getToken = async () => {\n    const tokens = global.get('spotifyTokens') || {};\n    const now = Date.now();\n    if (tokens.access_token && tokens.expires_at && now < tokens.expires_at - 30000) return tokens.access_token;\n    if (!tokens.refresh_token) throw new Error('Spotify not authorized — open https://your-nodered-host/spotify/auth in a browser');\n    const body = 'grant_type=refresh_token&refresh_token=' + encodeURIComponent(tokens.refresh_token);\n    const auth = Buffer.from(CLIENT_ID + ':' + CLIENT_SECRET).toString('base64');\n    const d = await new Promise((resolve, reject) => {\n        const req = https.request({ hostname: 'accounts.spotify.com', path: '/api/token', method: 'POST', headers: { 'Authorization': 'Basic ' + auth, 'Content-Type': 'application/x-www-form-urlencoded', 'Content-Length': Buffer.byteLength(body) } }, res => { let x = ''; res.on('data', c => x += c); res.on('end', () => { try { resolve(JSON.parse(x)); } catch(e) { reject(e); } }); });\n        req.on('error', reject); req.write(body); req.end();\n    });\n    if (!d.access_token) throw new Error('Token refresh failed: ' + JSON.stringify(d));\n    tokens.access_token = d.access_token; tokens.expires_at = now + d.expires_in * 1000;\n    global.set('spotifyTokens', tokens); return tokens.access_token;\n};\nconst apiReq = (method, token, path, body) => new Promise((resolve, reject) => {\n    const b = body !== undefined ? JSON.stringify(body) : '';\n    const headers = { 'Authorization': 'Bearer ' + token };\n    if (b) { headers['Content-Type'] = 'application/json'; headers['Content-Length'] = Buffer.byteLength(b); }\n    const req = https.request({ hostname: 'api.spotify.com', path, method, headers }, res => {\n        let x = ''; res.on('data', c => x += c);\n        res.on('end', () => { try { resolve({ status: res.statusCode, body: x ? JSON.parse(x) : null }); } catch(e) { resolve({ status: res.statusCode, body: x || null }); } });\n    });\n    req.on('error', reject); if (b) req.write(b); req.end();\n});\nconst { volume } = msg.payload;\nif (volume == null || volume < 0 || volume > 100) { msg.payload = { error: 'volume must be 0-100' }; return msg; }\nconst token = await getToken();\nconst r = await apiReq('PUT', token, '/v1/me/player/volume?volume_percent=' + Math.round(volume));\nmsg.payload = r.status < 400 ? { success: true } : { error: 'HTTP ' + r.status };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [{"var": "https", "module": "https"}],
    "x": 360,
    "y": 1040,
    "wires": [["sp-out-volume"]]
  },
  {
    "id": "sp-out-volume",
    "type": "hal2MCPOut",
    "z": "tab-spotify-mcp",
    "name": "",
    "eventHandler": "",
    "x": 590,
    "y": 1040,
    "wires": []
  }
]
